<div class="container">
    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AFormularioSepultura']"
                    href="#">Sepulturas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Sepulturas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend style="font-style: oblique"><b> Formulario Incripción de Sepulturas</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formSepultura"  novalidate>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Difunto</h4>
            </div>
            <div class="form-group">
                <br>
                <div class="row">
                    <div class="col">
                        <label>RUN Difunto</label>
                        <select class="form-control" id="difunto" formControlName="difunto" [(ngModel)]="sepultura2.difunto"
                            (change)="mostrarDifuntos()" >
                            <option [ngValue]="0" disabled selected>Seleccione Difunto </option>
                            <option *ngFor="let c of DifuntosList" [ngValue]="c">{{c.rut_Difunto}}</option>
                        </select>
                        <div *ngIf="formSepultura.get('difunto').value==0 && 
                            (formSepultura.get('difunto').touched || formSepultura.get('difunto').dirty) "
                            class="alert alert-danger">
                            Es obligatorio seleccionar un difunto.
                        </div>
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Nombre </label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.nombres_Difunto}}">
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Apellido paterno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.apellidoP_Difunto}}">
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Apellido materno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.apellidoM_Difunto}}">
                    </div>
                    
                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos del Contrato</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>RUN cliente</label>
                        <select class="form-control" id="contrato" name="contrato" formControlName="cliente"
                        [(ngModel)]="clienteAux"
                            (change)="mostrarContratos()">
                            <option [ngValue]="0" disabled selected>Seleccione cliente </option>
                            <option *ngFor="let c of clientesList;" [ngValue]="c" >{{c.rut_Cliente}}</option>                           
                        </select>
                        <div *ngIf="formSepultura.get('cliente').value==0 && 
                            (formSepultura.get('cliente').touched || formSepultura.get('cliente').dirty) "
                            class="alert alert-danger">
                            Es obligatorio seleccionar un cliente.
                        </div>
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Nombre </label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{clienteAux.nombres_Cliente}}">
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Apellido paterno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{clienteAux.apellidoP_Cliente}}">
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Apellido materno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{clienteAux.apellidoM_Cliente}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Numero Contrato</label>
                        <select class="form-control" id="contrato" name="contrato" formControlName="contrato"
                        [(ngModel)]="sepultura2.contrato" (change)="mostrarDatosContrato()">
                            <option [ngValue]="0" disabled selected>Seleccione numero contrato </option>
                            <option *ngFor="let c of contratosListAux" [ngValue]="c">{{c.id_contrato}}</option>                           
                        </select>
                        <div *ngIf="formSepultura.get('contrato').value==0 && 
                            (formSepultura.get('contrato').touched || formSepultura.get('contrato').dirty)   "
                            class="alert alert-danger">
                            Es obligatorio seleccionar un contrato.
                        </div>
                    </div>   
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Tipo de tumba</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tipoTumba.nombretipo_tumba}}">
                    </div>   
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Patio</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.patio.nombre_Patio}}">
                    </div>    
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Numero Tumba</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tumba}}">
                    </div> 
                    
                </div>
                <div class="row">
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Capacidad total</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tipoTumba.capacidad_tipo_tumba}}">
                    </div> 
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Capacidad disponible</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{cont}}">
                    </div> 
                </div>
                <div class="row">
                    <div class="col">
                        <label> Fecha de sepultura</label>
                        <input type="date" class="form-control" id="fechaEntierro" name="fechafechaEntierro_Pago"
                        data-format="yyyy-MM-dd" data-template="D MMM YYYY" placeholder="Ingrese el dia de pago"
                        formControlName="fecha_Entierro_TD"  [(ngModel)]="sepultura2.fecha_Entierro_TD">
                        <div *ngIf="formSepultura.get('fecha_Entierro_TD').value==0 && 
                            (formSepultura.get('fecha_Entierro_TD').touched || formSepultura.get('fecha_Entierro_TD').dirty)   "
                            class="alert alert-danger">
                            Es obligatorio seleccionar una fecha para la sepultura.
                        </div>
                    </div>                 
                </div>
            </div>
            <div class="form-group row" style="text-align: center;">
                <div class="col">
                    <button (click)="cancelarSepultura()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button (click)="create()" [disabled]="!formSepultura.valid" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
      
    </div>
</div>