<div class="container">
    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AFormularioSepultura']"
                    href="#">Sepulturas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Sepulturas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend style="font-style: oblique"><b> Formulario Incripción de Sepulturas</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form novalidate>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Difunto</h4>
            </div>
            <div class="form-group">
                <br>
                <div class="row">
                    <div class="col">
                        <label>Rut Difunto</label>
                        <select class="form-control" id="difunto" name="difunto" [(ngModel)]="sepultura2.difunto"
                            (change)="mostrarDifuntos()">
                            <option [ngValue]="0" disabled selected>Seleccione Difunto </option>
                            <option *ngFor="let c of DifuntosList" [ngValue]="c">{{c.rut_Difunto}}</option>
                            <!--  <option *ngFor="let x of difuntoList" [ngValue]="x">{{x.rut_Difunto}}</option>-->
                        </select>
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Nombre </label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.nombres_Difunto}}">
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Apellido paterno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.apellidoP_Difunto}}">
                    </div>
                    <div class="col" *ngIf="mostrarDifunto">
                        <label> Apellido materno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{sepultura2.difunto.apellidoM_Difunto}}">
                    </div>
                    
                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos del Contrato</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Rut cliente</label>
                        <select class="form-control" id="difunto" name="difunto" [(ngModel)]="clienteAux"
                            (change)="mostrarContratos()">
                            <option [ngValue]="0" disabled selected>Seleccione cliente </option>
                            <option *ngFor="let c of contratosList" [ngValue]="c.cliente">{{c.cliente.rut_Cliente}}</option>                           
                        </select>
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Nombre </label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{clienteAux.nombres_Cliente}}">
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Apellido paterno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{clienteAux.apellidoP_Cliente}}">
                    </div>
                    <div class="col" *ngIf="mostrarContrato2">
                        <label> Apellido materno</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{clienteAux.apellidoM_Cliente}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Numero Contrato</label>
                        <select class="form-control" id="difunto" name="difunto" [(ngModel)]="sepultura2.contrato" 
                        (change)="mostrarDatosContrato()">
                            <option [ngValue]="0" disabled selected>Seleccione numero contrato </option>
                            <option *ngFor="let c of contratosList" [ngValue]="c">{{c.id_contrato}}</option>                           
                        </select>
                    </div>   
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Tipo de tumba</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tipoTumba.nombretipo_tumba}}">
                    </div>   
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Patio</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.patio.nombre_Patio}}">
                    </div>    
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Numero Tumba</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tumba}}">
                    </div> 
                    
                </div>
                <div class="row">
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Capacidad total</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{sepultura2.contrato.tipoTumba.capacidad_tipo_tumba}}">
                    </div> 
                    <div class="col" *ngIf="mostrarContrato3">
                        <label> Capacidad disponible</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                        value="{{cont}}">
                    </div> 
                </div>
            </div>
            <div class="form-group row" style="text-align: center;">
                <div class="col">
                    <button (click)="cancelarSepultura()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button (click)="create()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
      
    </div>
</div>