<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5><b><i>Terrenos Libres</i></b></h5>
      <div class="row">
        <div class="col-sm" style="text-align: center;">
          <button [disabled]="true" type="button" class="btn btn-outline-primary"
            [routerLink]="['/administracion-inicio/ATerrenosLibres/']">Libres</button>
        </div>
        <div class="col-sm" *ngIf="service.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-outline-primary"
            [routerLink]="['/administracion-inicio/ATerrenosOcupados/']">Ocupados</button>
        </div>
        <div class="col-sm" *ngIf="service.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-outline-primary"
            [routerLink]="['/administracion-inicio/ATerrenosReservados/']">Reservado</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-8">
      <div align="left">                          
        <div class="container" align="center">
          <img class="rosa" src="../assets/img/rosaPNG.png" alt=""  height="150px" width="150px" >
          <img src="../assets/img/cementerio2.jpg" alt="" width="910px" height="845px">
          <!--cambiar el ng for por el de la query -->
         
          <!-- Patio A--> 
          <div *ngFor="let person of peopleA; let i = index">
            <div [id]="'a' + person.patio.id_Patio" [ngClass]="'a'+ person.numero_Tumba" >
              <div>
                <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio A" >
              </div>
            </div>
            <!--donde esta el show image en el src de la imagen cambiar condicion por si estado de la tumba es ocupado-->
          </div>
          <!--Fin Patio A-->
          <!-- Patio B-->
          <div *ngFor="let personB of peopleB; let i = index">
            <div [id]="'b' + personB.patio.id_Patio" [ngClass]="'b'+ personB.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio B">
            </div>
          </div>
          <!--Fin Patio B-->

          <!-- Patio C-->
          <div *ngFor="let personC of peopleC; let i = index">
            <div [id]="'c' + personC.patio.id_Patio" [ngClass]="'c'+ personC.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio c">
            </div>
          </div>
          <!--Fin Patio C-->

          <!-- Patio D-->
          <div *ngFor="let personD of peopleD; let i = index">
            <div [id]="'d' + personD.patio.id_Patio" [ngClass]="'d'+ personD.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio D">
            </div>
          </div>
          <!-- Fin Patio D-->

          <!-- Patio E-->
          <div *ngFor="let personE of peopleE; let i = index">
            <div [id]="'e' + personE.patio.id_Patio" [ngClass]="'e'+ personE.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;"data-toggle="tooltip" data-placement="top" title="Patio E">
            </div>
          </div>
          <!-- fin patio E-->
          <!-- Patio F-->
          <div *ngFor="let personF of peopleF; let i = index">
            <div [id]="'f' + personF.patio.id_Patio" [ngClass]="'f'+ personF.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio F">

            </div>
          </div>
          <!-- fin patio F-->
          <!-- Patio G-->
          <div *ngFor="let personG of peopleG; let i = index">
            <div [id]="'g' + personG.patio.id_Patio" [ngClass]="'g'+ personG.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio G">
            </div>
          </div>
          <!-- fin patio G-->

          <!-- Patio H-->
          <div *ngFor="let personH of peopleH; let i = index">
            <div [id]="'h' + personH.patio.id_Patio" [ngClass]="'h'+ personH.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio H">
            </div>
          </div>
          <!-- fin patio H-->
           <!-- Patio i-->
           <div *ngFor="let personI of peopleI; let i = index">
            <div [id]="'I' + personI.patio.id_Patio" [ngClass]="'I'+ personI.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio I">
            </div>
          </div>
          <!-- fin patio I-->

          <!-- Patio J-->
          <div *ngFor="let personJ of peopleJ; let i = index">
            <div [id]="'I' + personJ.patio.id_Patio" [ngClass]="'j'+ personJ.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio J">
            </div>
          </div>
          <!-- fin patio J-->

          <!-- Patio K-->
          <div *ngFor="let personK of peopleK; let i = index">
            <div [id]="'I' + personK.patio.id_Patio" [ngClass]="'k'+ personK.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio K">
            </div>
          </div>
          <!-- fin patio K-->
          <!-- Patio L-->
          <div *ngFor="let personL of peopleL; let i = index">
            <div [id]="'I' + personL.patio.id_Patio" [ngClass]="'l'+ personL.numero_Tumba">
              <img src="../../../../../assets/img/cuadroRojo.png" alt="" style="width: 65px; height: 47px;" data-toggle="tooltip" data-placement="top" title="Patio L">
            </div>
          </div>
          <!-- fin patio L-->

          <!-- Mausoleo A-->
          <div *ngFor="let mauA of MausoleoA; let i = index">
            <div [id]="'mA' + mauA.patio.id_Patio" [ngClass]="'mA'+ mauA.numero_Tumba">
              <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;">
            </div>
          </div>
          <!-- Fin Mausoleo A-->

          <!-- Mausoleo B-->
          <div *ngFor="let mauB of MausoleoB; let i = index">
            <div [id]="'mB' + mauB.patio.id_Patio" [ngClass]="'mB'+ mauB.numero_Tumba">
              <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;">
            </div>
          </div>
          <!-- Fin Mausoleo B-->

          <!-- Mausoleo C-->
          <div *ngFor="let mauC of MausoleoC; let i = index">
            <div [id]="'mC' + mauC.patio.id_Patio" [ngClass]="'mC'+ mauC.numero_Tumba">
              <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;">
            </div>
          </div>
          <!-- Fin Mausoleo C-->

          <!-- Mausoleo D-->
          <div *ngFor="let mauD of MausoleoD; let i = index">
            <div [id]="'mD' + mauD.patio.id_Patio" [ngClass]="'mD'+ mauD.numero_Tumba">
              <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;">
            </div>
          </div>
          <!-- Fin Mausoleo D-->

        </div>
      </div>
    </div>
  </div>
</div><br>