
<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5><b><i>Terrenos Libres</i></b></h5>
      <div class="row">
        <div class="col-sm" align="center">
          <button [disabled]="true" type="button" class="btn btn-outline-primary"
            [routerLink]="['/administracion-inicio/ATerrenosLibres/']">Libres</button>
        </div>
        <div class="col-sm" *ngIf="service.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-outline-primary"
          [routerLink]="['/administracion-inicio/ATerrenosOcupados/']">Ocupados</button>
        </div>
        <div class="col-sm" *ngIf="service.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-outline-primary"
          [routerLink]="['/administracion-inicio/ATerrenosReservados/']">Reservado</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-8">
      <div align="left">
        <div class="container">
          <img src="../assets/img/mapa3.jpg" alt="" width="90%" height="80%">
          <!--cambiar el ng for por el de la query -->
          <!-- Patio A-->
          <div *ngFor="let person of peopleA; let i = index">
            <div [id]="'a' + person.id_Terreno" [ngClass]="'a'+ person.id_tumba">              
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>
            </div>
            <!--donde esta el show image en el src de la imagen cambiar condicion por si estado de la tumba es ocupado-->
          </div>
          <!--Fin Patio A-->
          <!-- Patio B-->
          <div *ngFor="let personB of peopleB; let i = index">
            <div [id]="'b' + personB.id_Terreno" [ngClass]="'b'+ personB.id_tumba">              
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>
              
            </div>
          </div>
          <!--Fin Patio B-->

          <!-- Patio C-->
          <div *ngFor="let personC of peopleC; let i = index">
            <div [id]="'c' + personC.id_Terreno" [ngClass]="'c'+ personC.id_tumba"> 
                <i class="fas fa-map-marker-alt fa-2x" style="color: black"></i>              
            </div>
          </div>
          <!--Fin Patio C-->

          <!-- Patio D-->
          <div *ngFor="let personD of peopleD; let i = index">
            <div [id]="'d' + personD.id_Terreno" [ngClass]="'d'+ personD.id_tumba"> 
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>              
            </div>
          </div>
          <!-- Fin Patio D-->

          <!-- Patio E-->
          <div *ngFor="let personE of peopleE; let i = index">
            <div [id]="'e' + personE.id_Terreno" [ngClass]="'e'+ personE.id_tumba"> 
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>              
            </div>
          </div>
          <!-- fin patio E-->
          <!-- Patio F-->
          <div *ngFor="let personF of peopleF; let i = index">
            <div [id]="'f' + personF.id_Terreno" [ngClass]="'f'+ personF.id_tumba"> 
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>
              
            </div>
          </div>
          <!-- fin patio F-->
          <!-- Patio G-->
          <div *ngFor="let personG of peopleG; let i = index">
            <div [id]="'g' + personG.id_Terreno" [ngClass]="'g'+ personG.id_tumba"> 
                <i class="fas fa-map-marker-alt fa-2x" style="color: black "></i>              
            </div>
          </div>
          <!-- fin patio G-->

        </div>
      </div>
    </div>   
  </div>
</div><br>

<button type="button" class="btn btn-info " (click)="calcularValorCuota()"> Calcular
</button>
<!-- lala-->