.contenedor{
    width: 552px;
    height:848px ;
    position: relative;
    display: inline-block;
    text-align: center;
}
 /*PATIO A*/
.a1{
    position: absolute;
    top: 243px;
    left: 148px;
    font-size: 15px;
    font-weight: bold;

}
.a2{
    position: absolute;   
    top: 243px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;

}
.a3{
    position: absolute;
    top: 243px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
}
.a4{
    position: absolute;
    top: 243px;
    left: 200px;
    font-size: 15px;
    font-weight: bold;
}
.a5{
    position: absolute;
    top: 243px;
    left: 222px;
    font-size: 15px;
    font-weight: bold;
 }
 .a6{
    position: absolute;
    top: 243px;
    left: 237px;
    font-size: 15px;
    font-weight: bold;
 }
 .a7{
    position: absolute;
    top: 243px;
    left: 258px;
    font-size: 15px;
    font-weight: bold;
 }
 .a8{
    position: absolute;
    top: 243px;
    left: 273px;
    font-size: 15px;
    font-weight: bold;
 }
 .a9{
    position: absolute;
    top: 29.7%;
    left: 22.2%;
    font-size: 15px;
    font-weight: bold;
 }
 .a10{
    position: absolute;
    top: 29.7%;
    left: 24.4%;
    font-size: 15px;
    font-weight: bold;
 }
 .a11{
    position: absolute;
    top: 29.7%;
    left: 27.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a12{
    position: absolute;
    top: 29.7%;
    left: 30%;
    font-size: 15px;
    font-weight: bold;
 }
 .a13{
    position: absolute;
    top: 29.7%;
    left: 33.3%;
    font-size: 15px;
    font-weight: bold;
 }
 .a14{
    position: absolute;
    top: 29.7%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a15{
    position: absolute;
    top: 29.7%;
    left: 38.8%;
    font-size: 15px;
    font-weight: bold;
 }
 .a16{
    position: absolute;
    top: 29.7%;
    left: 40.9%;
    font-size: 15px;
    font-weight: bold;
 }

 .a17{
    position: absolute;
    top: 30.7%;
    left: 22.2%;
    font-size: 15px;
    font-weight: bold;
 }
 .a18{
    position: absolute;
    top: 30.7%;
    left: 24.4%;
    font-size: 15px;
    font-weight: bold;
 }
 .a19{
    position: absolute;
    top: 30.7%;
    left: 27.7%;
    font-size: 15px;
    font-weight: bold;
 }
 .a20{
    position: absolute;
    top: 30.7%;
    left: 29.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a21{
    position: absolute;
    top: 30.7%;
    left: 33.3%;
    font-size: 15px;
    font-weight: bold;
 }
 .a22{
    position: absolute;
    top: 30.7%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a23{
    position: absolute;
    top: 30.7%;
    left: 38.8%;
    font-size: 15px;
    font-weight: bold;
 }
 .a24{
    position: absolute;
    top: 30.7%;
    left: 40.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a25{
    position: absolute;
    top: 31.8%;
    left: 22.2%;
    font-size: 15px;
    font-weight: bold;
 }
 .a26{
    position: absolute;
    top: 31.8%;
    left: 24.4%;
    font-size: 15px;
    font-weight: bold;
 }
 .a27{
    position: absolute;
    top: 31.8%;
    left: 27.7%;
    font-size: 15px;
    font-weight: bold;
 }
 .a28{
    position: absolute;
    top: 31.8%;
    left: 29.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a29{
    position: absolute;
    top: 31.8%;
    left: 33.3%;
    font-size: 15px;
    font-weight: bold;
 }
 .a30{
    position: absolute;
    top: 31.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a31{
    position: absolute;
    top: 31.8%;
    left: 38.8%;
    font-size: 15px;
    font-weight: bold;
 }
 .a32{
    position: absolute;
    top: 31.8%;
    left: 40.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a33{
    position: absolute;
    top: 32.8%;
    left: 22.2%;
    font-size: 15px;
    font-weight: bold;
 }
 .a34{
    position: absolute;
    top: 32.8%;
    left: 24.4%;
    font-size: 15px;
    font-weight: bold;
 }
 .a35{
    position: absolute;
    top: 32.8%;
    left: 27.7%;
    font-size: 15px;
    font-weight: bold;
 }
 .a36{
    position: absolute;
    top: 32.8%;
    left: 29.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a37{
    position: absolute;
    top: 32.8%;
    left: 33.3%;
    font-size: 15px;
    font-weight: bold;
 }
 .a38{
    position: absolute;
    top: 32.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a39{
    position: absolute;
    top: 32.8%;
    left: 38.8%;
    font-size: 15px;
    font-weight: bold;
 }
 .a40{
    position: absolute;
    top: 32.8%;
    left: 40.9%;
    font-size: 15px;
    font-weight: bold;
 }
 .a41{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a42{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a43{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a44{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a45{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a46{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a47{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a48{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a49{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a50{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a51{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a52{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a53{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a54{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a55{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }
 .a56{
    position: absolute;
    top: 33.8%;
    left: 35.6%;
    font-size: 15px;
    font-weight: bold;
 }

 /* Patio B*/
 .b1{
    position: absolute;
    top: 399px;
    left: 148px;
    font-size: 15px;
    font-weight: bold;
 }
 .b2{
    position: absolute;
    top: 399px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b3{
    position: absolute;
    top: 399px;
    left: 185px;
    font-size: 15px;
   font-weight: bold;
 }
 .b4{
    position: absolute;
    top: 399px;
    left: 200px;
    font-size: 15px;
    font-weight: bold;
 }
 .b5{
    position: absolute;
    top: 399px;
    left: 222px;
    font-size: 15px;
    font-weight: bold;
 }
 .b6{
    position: absolute;
    top: 399px;
    left: 237px;
    font-size: 15px;
    font-weight: bold;
 }
 .b7{
    position: absolute;
    top: 399px;
    left: 258px;
    font-size: 15px;
    font-weight: bold;
 }
 .b8{
    position: absolute;
    top: 399px;
    left: 273px;
    font-size: 15px;
    font-weight: bold;
 }
 .b9{
    position: absolute;
     top: 408px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b10{
    position: absolute;
    top: 408px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b11{
    position: absolute;
    top: 408px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b12{
    position: absolute;
    top: 408px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b13{
    position: absolute;
     top: 408px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b14{
    position: absolute;
     top: 408px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b15{
    position: absolute;
     top: 408px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b16{
    position: absolute;
     top: 408px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b17{
    position: absolute;
     top: 417px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b18{
    position: absolute;
    top: 417px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b19{
    position: absolute;
    top: 417px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b20{
    position: absolute;
    top: 417px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b21{
    position: absolute;
     top: 417px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b22{
    position: absolute;
     top: 417px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b23{
    position: absolute;
     top: 417px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b24{
    position: absolute;
     top: 417px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b25{
    position: absolute;
     top: 426px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b26{
    position: absolute;
    top: 426px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b27{
    position: absolute;
    top: 426px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b28{
    position: absolute;
    top: 426px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b29{
    position: absolute;
     top: 426px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b30{
    position: absolute;
     top: 426px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b31{
    position: absolute;
     top: 426px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b32{
    position: absolute;
     top: 426px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
  .b33{
    position: absolute;
     top: 435px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b34{
    position: absolute;
    top: 435px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b35{
    position: absolute;
    top: 435px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b36{
    position: absolute;
    top: 435px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b37{
    position: absolute;
     top: 435px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b38{
    position: absolute;
     top: 435px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b39{
    position: absolute;
     top: 435px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b40{
    position: absolute;
     top: 435px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b41{
    position: absolute;
     top: 443px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b42{
    position: absolute;
    top: 443px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b43{
    position: absolute;
    top: 443px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b44{
    position: absolute;
    top: 443px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b45{
    position: absolute;
     top: 443px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b46{
    position: absolute;
     top: 443px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b47{
    position: absolute;
     top: 443px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b48{
    position: absolute;
     top: 443px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b49{
    position: absolute;
     top: 452px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b50{
    position: absolute;
    top: 452px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b51{
    position: absolute;
    top: 452px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b52{
    position: absolute;
    top: 452px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b53{
    position: absolute;
     top: 452px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b54{
    position: absolute;
     top: 452px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b55{
    position: absolute;
     top: 452px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b56{
    position: absolute;
     top: 452px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b57{
    position: absolute;
     top: 461px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b58{
    position: absolute;
    top: 461px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b59{
    position: absolute;
    top: 461px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b60{
    position: absolute;
    top: 461px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b61{
    position: absolute;
     top: 461px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b62{
    position: absolute;
     top: 461px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b63{
    position: absolute;
     top: 461px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b64{
    position: absolute;
     top: 461px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b65{
    position: absolute;
     top: 470px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b66{
    position: absolute;
    top: 470px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b67{
    position: absolute;
    top: 470px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b68{
    position: absolute;
    top: 470px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b69{
    position: absolute;
     top: 470px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b70{
    position: absolute;
     top: 470px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b71{
    position: absolute;
     top: 470px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b72{
    position: absolute;
     top: 470px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b73{
    position: absolute;
     top: 479px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b74{
    position: absolute;
    top: 479px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b75{
    position: absolute;
    top: 479px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b76{
    position: absolute;
    top: 479px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b77{
    position: absolute;
     top: 479px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b78{
    position: absolute;
     top: 479px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b79{
    position: absolute;
     top: 479px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b80{
    position: absolute;
     top: 479px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b81{
    position: absolute;
     top: 487px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b82{
    position: absolute;
    top: 487px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b83{
    position: absolute;
    top: 487px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b84{
    position: absolute;
    top: 487px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b85{
    position: absolute;
     top: 487px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b86{
    position: absolute;
     top: 487px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b87{
    position: absolute;
     top: 487px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b88{
    position: absolute;
     top: 487px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b89{
    position: absolute;
     top: 496px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b90{
    position: absolute;
    top: 496px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b91{
    position: absolute;
    top: 496px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b92{
    position: absolute;
    top: 496px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b93{
    position: absolute;
     top: 496px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b94{
    position: absolute;
     top: 496px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b95{
    position: absolute;
     top: 496px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b96{
    position: absolute;
     top: 496px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
 .b97{
    position: absolute;
     top: 505px;
     left: 148px;
     font-size: 15px;
     font-weight: bold;
 }
 .b98{
    position: absolute;
    top: 505px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b99{
    position: absolute;
    top: 505px;
    left: 185px;
    font-size: 15px;
    font-weight: bold;
 }
 .b100{
    position: absolute;
    top: 505px;
    left: 200px;
    font-size: 12px;
    font-weight: bold;
 }
 .b101{
    position: absolute;
     top: 505px;
     left: 222px;
     font-size: 15px;
     font-weight: bold;
 }
 .b102{
    position: absolute;
     top: 505px;
     left: 237px;
     font-size: 15px;
     font-weight: bold;
 }
 .b103{
    position: absolute;
     top: 505px;
     left: 258px;
     font-size: 15px;
     font-weight: bold;
 }
 .b104{
    position: absolute;
     top: 505px;
     left: 273px;
     font-size: 15px;
     font-weight: bold;
 }
.b105{
    position: absolute;
    top: 514px;
    left: 148px;
    font-size: 15px;
    font-weight: bold;
 }
 .b106{
    position: absolute;
    top: 514px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b107{
    position: absolute;
    top: 514px;
    left: 185px;
    font-size: 15px;
   font-weight: bold;
 }
 .b108{
    position: absolute;
    top: 514px;
    left: 200px;
    font-size: 15px;
    font-weight: bold;
 }
 .b109{
    position: absolute;
    top: 514px;
    left: 222px;
    font-size: 15px;
    font-weight: bold;
 }
 .b110{
    position: absolute;
    top: 514px;
    left: 237px;
    font-size: 15px;
    font-weight: bold;
 }
 .b111{
    position: absolute;
    top: 514px;
    left: 258px;
    font-size: 15px;
    font-weight: bold;
 }
 .b112{
    position: absolute;
    top: 514px;
    left: 273px;
    font-size: 15px;
    font-weight: bold;
 }
 .b113{
    position: absolute;
    top: 523px;
    left: 148px;
    font-size: 15px;
    font-weight: bold;
 }
 .b114{
    position: absolute;
    top: 523px;
    left: 163px;
    font-size: 15px;
    font-weight: bold;
 }
 .b115{
    position: absolute;
    top: 523px;
    left: 185px;
    font-size: 15px;
   font-weight: bold;
 }
 .b116{
    position: absolute;
    top: 523px;
    left: 200px;
    font-size: 15px;
    font-weight: bold;
 }
 .b117{
    position: absolute;
    top: 523px;
    left: 222px;
    font-size: 15px;
    font-weight: bold;
 }
 .b118{
    position: absolute;
    top: 523px;
    left: 237px;
    font-size: 15px;
    font-weight: bold;
 }
 .b119{
    position: absolute;
    top: 523px;
    left: 258px;
    font-size: 15px;
    font-weight: bold;
 }
 .b120{
    position: absolute;
    top: 523px;
    left: 273px;
    font-size: 15px;
    font-weight: bold;
 }





  /* Patio C*/
  .c1{
    position: absolute;
     top: 52%;
     left: 33%;
     font-size: 12px;
     font-weight: bold;
 }
 .c2{
    position: absolute;
     top: 52%;
     left: 39.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c3{
    position: absolute;
     top: 52%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c4{
    position: absolute;
     top: 60%;
     left: 34.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c5{
    position: absolute;
     top: 60%;
     left: 40%;
     font-size: 12px;
     font-weight: bold;
 }
 .c6{
    position: absolute;
     top: 57.5%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
.c7{
    position: absolute;
     top: 62.5%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c8{
    position: absolute;
     top: 67%;
     left: 36%;
     font-size: 12px;
     font-weight: bold;
 }
 .c9{
    position: absolute;
     top: 67%;
     left: 40.5%;
     font-size: 12px;
     font-weight: bold;
 }
  .c10{
    position: absolute;
     top: 68%;
     left: 45%;
     font-size: 12px;
     font-weight: bold;
 }
 /*Patio D */

 .d1{
    position: absolute;
     top: 51.5%;
     left: 51%;
     font-size: 12px;
     font-weight: bold;
 }

 .d2{
    position: absolute;
     top: 51.5%;
     left: 54.5%;
     font-size: 12px;
     font-weight: bold;
 }

 .d3{
    position: absolute;
     top: 51.5%;
     left: 59%;
     font-size: 12px;
     font-weight: bold;
 }

 .d4{
    position: absolute;
     top: 51.5%;
     left: 63%;
     font-size: 12px;
     font-weight: bold;
 }
 .d5{
    position: absolute;
     top: 48%;
     left: 69%;
     font-size: 12px;
     font-weight: bold;
 }
 .d6{
    position: absolute;
     top: 53%;
     left: 69%;
     font-size: 12px;
     font-weight: bold;
 }
 .d7{
    position: absolute;
     top: 48%;
     left: 78%;
     font-size: 12px;
     font-weight: bold;
 }
 .d8{
    position: absolute;
     top: 53%;
     left: 78%;
     font-size: 12px;
     font-weight: bold;
 }

 .d9{
    position: absolute;
     top: 58.5%;
     left: 51%;
     font-size: 12px;
     font-weight: bold;
 }
 .d10{
    position: absolute;
     top: 59%;
     left: 54.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .d11{
    position: absolute;
     top: 62%;
     left: 58%;
     font-size: 12px;
     font-weight: bold;
 }
 .d12{
    position: absolute;
     top: 59%;
     left: 61%;
     font-size: 12px;
     font-weight: bold;
 }
 .d13{
    position: absolute;
     top: 59%;
     left: 66%;
     font-size: 12px;
     font-weight: bold;
 }
 .d14{
    position: absolute;
     top: 59%;
     left: 70.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .d15{
    position: absolute;
     top: 59%;
     left: 76%;
     font-size: 12px;
     font-weight: bold;
 }
 .d16{
    position: absolute;
     top: 59%;
     left: 80.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .d17{
    position: absolute;
     top: 64%;
     left: 51%;
     font-size: 12px;
     font-weight: bold;
 }
 .d18{
    position: absolute;
     top: 64%;
     left: 55%;
     font-size: 12px;
     font-weight: bold;
 }
 .d19{
    position: absolute;
     top: 64%;
     left: 62%;
     font-size: 12px;
     font-weight: bold;
 }
.d20{
    position: absolute;
     top: 64%;
     left: 66%;
     font-size: 12px;
     font-weight: bold;
 }
 .d21{
    position: absolute;
     top: 64%;
     left: 70.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .d22{
    position: absolute;
     top: 64%;
     left: 76%;
     font-size: 12px;
     font-weight: bold;
 }
 .d23{
    position: absolute;
     top: 64%;
     left: 80.5%;
     font-size: 12px;
     font-weight: bold;
 }

/*PATIO E*/

.e1{
    position: absolute;
     top: 75.5%;
     left: 16.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e2{
    position: absolute;
     top: 74%;
     left: 20.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e3{
    position: absolute;
     top: 74%;
     left: 25.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e4{
    position: absolute;
     top: 75%;
     left: 30.7%;
     font-size: 12px;
     font-weight: bold;
 }
 .e5{
    position: absolute;
     top: 75%;
     left: 33.7%;
     font-size: 12px;
     font-weight: bold;
 }
 .e6{
    position: absolute;
     top: 78%;
     left: 20.8%;
     font-size: 12px;
     font-weight: bold;
 }
 .e7{
    position: absolute;
     top: 80%;
     left: 25.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e8{
    position: absolute;
     top: 82%;
     left: 30.6%;
     font-size: 12px;
     font-weight: bold;
 }
 .e9{
    position: absolute;
     top: 80.5%;
     left: 34.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e10{
    position: absolute;
     top: 67%;
     left: 31%;
     font-size: 12px;
     font-weight: bold;
 }
 .e11{
    position: absolute;
     top: 83%;
     left: 17.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e12{
    position: absolute;
     top: 84%;
     left: 21.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e13{
    position: absolute;
     top: 85%;
     left: 25.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .e14{
    position: absolute;
     top: 84.5%;
     left: 35.5%;
     font-size: 12px;
     font-weight: bold;
 }

 /* PATIO F*/

.f1{
    position: absolute;
     top: 75%;
     left: 37%;
     font-size: 12px;
     font-weight: bold;
 }
 .f2{
    position: absolute;
     top: 75%;
     left: 40.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .f3{
    position: absolute;
     top: 75%;
     left: 45%;
     font-size: 12px;
     font-weight: bold;
 }
 .f4{
    position: absolute;
     top: 82.5%;
     left: 39%;
     font-size: 12px;
     font-weight: bold;
 }
 .f5{
    position: absolute;
     top: 82.5%;
     left: 45%;
     font-size: 12px;
     font-weight: bold;
 }

  /* PATIO G*/

.g1{
    position: absolute;
     top: 73.5%;
     left: 52%;
     font-size: 12px;
     font-weight: bold;
 }
 .g2{
    position: absolute;
     top: 71%;
     left: 56%;
     font-size: 12px;
     font-weight: bold;
 }
 .g3{
    position: absolute;
    top: 72%;
     left: 60%;
     font-size: 12px;
     font-weight: bold;
 }
 .g4{
    position: absolute;
    top: 72%;
     left: 63%;
     font-size: 12px;
     font-weight: bold;
 }
 .g5{
    position: absolute;
    top: 72%;
     left: 66.5%;
     font-size: 12px;
     font-weight: bold;
 }

.g6{
    position: absolute;
    top: 69.5%;
     left: 70%;
     font-size: 12px;
     font-weight: bold;
 }
 .g7{
    position: absolute;
    top: 69.5%;
     left: 76.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .g8{
    position: absolute;
    top: 69.5%;
     left: 81%;
     font-size: 12px;
     font-weight: bold;
 }
 .g9{
    position: absolute;
    top: 82%;
     left: 52%;
     font-size: 12px;
     font-weight: bold;
 }
 .g10{
    position: absolute;
    top: 76%;
     left: 57%;
     font-size: 12px;
     font-weight: bold;
 }
 .g11{
    position: absolute;
    top: 82%;
     left: 62%;
     font-size: 12px;
     font-weight: bold;
 }
 .g12{
    position: absolute;
    top: 82%;
     left: 66%;
     font-size: 12px;
     font-weight: bold;
 }
 .g13{
    position: absolute;
    top: 74%;
     left: 71%;
     font-size: 12px;
     font-weight: bold;
 }
 .g14{
    position: absolute;
    top: 74%;
     left: 75%;
     font-size: 12px;
     font-weight: bold;
 }
 .g15{
    position: absolute;
    top: 74%;
     left: 78%;
     font-size: 12px;
     font-weight: bold;
 }
 .g16{
    position: absolute;
    top: 74%;
     left: 81%;
     font-size: 12px;
     font-weight: bold;
 }
 .g17{
    position: absolute;
    top: 83%;
     left: 57.5%;
     font-size: 12px;
     font-weight: bold;
 }

 .g18{
    position: absolute;
    top: 79%;
     left: 71%;
     font-size: 12px;
     font-weight: bold;
 }
 .g19{
    position: absolute;
    top: 79%;
     left: 75%;
     font-size: 12px;
     font-weight: bold;
 }
 .g20{
    position: absolute;
    top: 79%;
     left: 78%;
     font-size: 12px;
     font-weight: bold;
 }
 .g21{
    position: absolute;
    top: 79%;
     left: 81%;
     font-size: 12px;
     font-weight: bold;
 }
 .g22{
    position: absolute;
    top: 84%;
     left: 71%;
     font-size: 12px;
     font-weight: bold;
 }
 .g23{
    position: absolute;
    top: 84%;
     left: 75%;
     font-size: 12px;
     font-weight: bold;
 }
 .g24{
    position: absolute;
    top: 84%;
     left: 78%;
     font-size: 12px;
     font-weight: bold;
 }
 .g25{
    position: absolute;
    top: 84%;
     left: 81%;
     font-size: 12px;
     font-weight: bold;
 }
