<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->
<br>
<div class="container">
  <div class="card">

    <div class="container" style="text-align: center;">
      <br>
      <b>
        <p style="font-size: 20px;">
          <img src="assets/img/VistaLibre2.png" alt="" style="width: 30px; height: 30px; border: black 1px solid;">
          &nbsp;
          Terrenos Libres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/img/VistaOcupado.png" alt=""
            style="width: 30px; height: 30px; border: black 1px solid;">&nbsp;
          Terrenos Ocupados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="assets/img/VistaLibre.png" alt="" style="width: 30px; height: 30px; border: black 1px solid;">&nbsp;
          Terrenos Reservados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
      </b>
    </div>


  </div>
  <br>


  <div class="row">
    <div class="col-8">
      <div style="text-align: left;">
        <div class="container" style="text-align: center;">
          <img class="rosa" src="assets/img/rosaPNG.png" alt="" height="150px" width="150px">
          <img src="assets/img/cementerio3.jpg" alt="" width="910px" height="845px">
          <!--cambiar el ng for por el de la query -->


          <!-- Patio A-->
          <div *ngFor="let person of peopleA; let i = index">
            <div *ngIf="person.estado_Tumba === 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio A, Número {{person.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'a' + person.patio.id_Patio" [ngClass]="'a'+ person.numero_Tumba">
              </div>
            </div>
            <div *ngIf="person.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio A, Número {{person.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(person)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'a' + person.patio.id_Patio"
                    [ngClass]="'a'+ person.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'a' + person.patio.id_Patio"
                  [ngClass]="'a'+ person.numero_Tumba">
              </div>
            </div>
            <div *ngIf="person.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio A, Número {{person.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'a' + person.patio.id_Patio" [ngClass]="'a'+ person.numero_Tumba">
              </div>
            </div>
          </div>

          <!-- Fin Patio A-->
          <!-- Patio B-->
          <div *ngFor="let personB of peopleB; let i = index">
            <div *ngIf="personB.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio B, Número {{personB.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'b' + personB.patio.id_Patio" [ngClass]="'b'+ personB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personB.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio B, Número {{personB.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personB)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'b' + person.patio.id_Patio"
                    [ngClass]="'b'+ personB.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'b' + personB.patio.id_Patio"
                  [ngClass]="'b'+ personB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personB.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio B, Número {{personB.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'b' + personB.patio.id_Patio" [ngClass]="'b'+ personB.numero_Tumba">
              </div>
            </div>
          </div>
          <!--Fin Patio B-->
          <!-- Patio C-->
          <div *ngFor="let personC of peopleC; let i = index">
            <div *ngIf="personC.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio C, Número {{personC.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'c' + personC.patio.id_Patio" [ngClass]="'c'+ personC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personC.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio C, Número {{personC.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personC)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'c' + person.patio.id_Patio"
                    [ngClass]="'c'+ person.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'c' + personC.patio.id_Patio"
                  [ngClass]="'c'+ personC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personC.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio C, Número {{personC.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'c' + personC.patio.id_Patio" [ngClass]="'c'+ personC.numero_Tumba">
              </div>
            </div>
          </div>
          <!--Fin Patio C-->
          <!-- Patio D-->
          <div *ngFor="let personD of peopleD; let i = index">
            <div *ngIf="personD.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio D, Número {{personD.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'d' + personD.patio.id_Patio" [ngClass]="'d'+ personD.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personD.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio D, Número {{personD.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personD)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'a' + personD.patio.id_Patio"
                    [ngClass]="'d'+ personD.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'d' + personD.patio.id_Patio"
                  [ngClass]="'d'+ personD.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personD.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio D, Número {{personD.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'d' + personD.patio.id_Patio" [ngClass]="'d'+ personD.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Patio D-->
          <!-- Patio E-->
          <div *ngFor="let personE of peopleE; let i = index">
            <div *ngIf="personE.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio E, Número {{personE.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'e' + personE.patio.id_Patio" [ngClass]="'e'+ personE.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personE.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio E, Número {{personE.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personE)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'e' + personE.patio.id_Patio"
                    [ngClass]="'e'+ personE.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'e' + personE.patio.id_Patio"
                  [ngClass]="'e'+ personE.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personE.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio E, Número {{personE.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'e' + personE.patio.id_Patio" [ngClass]="'e'+ personE.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio E-->
          <!-- Patio F-->
          <div *ngFor="let personF of peopleF; let i = index">
            <div *ngIf="personF.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio F, Número {{personF.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'f' + personF.patio.id_Patio" [ngClass]="'f'+ personF.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personF.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio F, Número {{personF.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personF)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'f' + personF.patio.id_Patio"
                    [ngClass]="'f'+ personF.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'f' + personF.patio.id_Patio"
                  [ngClass]="'f'+ personF.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personF.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio F , Número {{personF.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'f' + personF.patio.id_Patio" [ngClass]="'f'+ personF.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio F-->
          <!-- Patio G-->
          <div *ngFor="let personG of peopleG; let i = index">
            <div *ngIf="personG.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio G, Número {{personG.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'g' + personG.patio.id_Patio" [ngClass]="'g'+ personG.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personG.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio G, Número {{personG.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personG)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'g' + personG.patio.id_Patio"
                    [ngClass]="'g'+ personG.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'g' + personG.patio.id_Patio"
                  [ngClass]="'g'+ personG.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personG.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio G , Número {{personG.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'g' + personG.patio.id_Patio" [ngClass]="'g'+ personG.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio G-->
          <!-- Patio H-->
          <div *ngFor="let personH of peopleH; let i = index">
            <div *ngIf="personH.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio H, Número {{personH.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'h' + personH.patio.id_Patio" [ngClass]="'h'+ personH.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personH.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio H, Número {{personH.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personH)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'h' + personH.patio.id_Patio"
                    [ngClass]="'h'+ personH.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'h' + personH.patio.id_Patio"
                  [ngClass]="'h'+ personH.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personH.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio H , Número {{personH.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'h' + personH.patio.id_Patio" [ngClass]="'h'+ personH.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio H-->
          <!-- Patio i-->
          <div *ngFor="let personI of peopleI; let i = index">
            <div *ngIf="personI.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio I, Número {{personI.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'I' + personI.patio.id_Patio" [ngClass]="'I'+ personI.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personI.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio I, Número {{personI.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personI)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'I' + personI.patio.id_Patio"
                    [ngClass]="'I'+ personI.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'I' + personI.patio.id_Patio"
                  [ngClass]="'I'+ personI.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personI.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio I , Número {{personI.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'I' + personI.patio.id_Patio" [ngClass]="'I'+ personI.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio I-->
          <!-- Patio J-->
          <div *ngFor="let personJ of peopleJ; let i = index">
            <div *ngIf="personJ.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio J, Número {{personJ.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'j' + personJ.patio.id_Patio" [ngClass]="'j'+ personJ.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personJ.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio J, Número {{personJ.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personJ)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'j' + personJ.patio.id_Patio"
                    [ngClass]="'j'+ personJ.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'j' + personJ.patio.id_Patio"
                  [ngClass]="'j'+ personJ.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personJ.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio J , Número {{personJ.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'j' + personJ.patio.id_Patio" [ngClass]="'j'+ personJ.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio J-->
          <!-- Patio K-->
          <div *ngFor="let personK of peopleK; let i = index">
            <div *ngIf="personK.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio K, Número {{personK.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'k' + personK.patio.id_Patio" [ngClass]="'k'+ personK.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personK.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio K, Número {{personK.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personK)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'k' + personK.patio.id_Patio"
                    [ngClass]="'k'+ personK.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'k' + personK.patio.id_Patio"
                  [ngClass]="'k'+ personK.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personK.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio K , Número {{personK.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'k' + personK.patio.id_Patio" [ngClass]="'k'+ personK.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio K-->

          <!-- Patio L-->
          <div *ngFor="let personL of peopleL; let i = index">
            <div *ngIf="personL.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Patio L, Número {{personL.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'l' + personL.patio.id_Patio" [ngClass]="'l'+ personL.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personL.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio L, Número {{personL.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(personL)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'l' + personL.patio.id_Patio"
                    [ngClass]="'l'+ personL.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'l' + personL.patio.id_Patio"
                  [ngClass]="'l'+ personL.numero_Tumba">
              </div>
            </div>
            <div *ngIf="personL.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Patio L , Número {{personL.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 10px; height: 7px;"
                  [id]="'l' + personL.patio.id_Patio" [ngClass]="'l'+ personL.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- fin patio L-->

          <!-- Mausoleo A-->
          <div *ngFor="let mauA of MausoleoA; let i = index">
            <div *ngIf="mauA.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo A, Número {{mauA.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mA' + mauA.patio.id_Patio" [ngClass]="'mA'+ mauA.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauA.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo A, Número {{mauA.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(mauA)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'a' + person.patio.id_Patio"
                    [ngClass]="'mA'+ mauA.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'mA' + mauA.patio.id_Patio"
                  [ngClass]="'mA'+ mauA.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauA.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo A, Número {{mauA.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mA' + mauA.patio.id_Patio" [ngClass]="'mA'+ mauA.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Mausoleo A-->

          <!-- Mausoleo B-->
          <div *ngFor="let mauB of MausoleoB; let i = index">
            <div *ngIf="mauB.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo B, Número {{mauB.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mB' + mauB.patio.id_Patio" [ngClass]="'mB'+ mauB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauB.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo B, Número {{mauB.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(mauB)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'mB' + mauB.patio.id_Patio"
                    [ngClass]="'mB'+ mauB.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'mB' + mauB.patio.id_Patio"
                  [ngClass]="'mB'+ mauB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauB.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo B, Número {{mauB.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mB' + mauB.patio.id_Patio" [ngClass]="'mB'+ mauB.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Mausoleo B-->

          <!-- Mausoleo C-->
          <div *ngFor="let mauC of MausoleoC; let i = index">
            <div *ngIf="mauC.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo C, Número {{mauC.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mC' + mauC.patio.id_Patio" [ngClass]="'mC'+ mauC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauC.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo C, Número {{mauC.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(mauC)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'mC' + mauC.patio.id_Patio"
                    [ngClass]="'mC'+ mauC.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'mC' + mauC.patio.id_Patio"
                  [ngClass]="'mC'+ mauC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauC.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo C, Número {{mauC.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mC' + mauC.patio.id_Patio" [ngClass]="'mC'+ mauC.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Mausoleo C-->

          <!-- Mausoleo D-->
          <div *ngFor="let mauD of MausoleoD; let i = index">
            <div *ngIf="mauD.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo D, Número {{mauD.numero_Tumba}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mD' + mauD.patio.id_Patio" [ngClass]="'mD'+ mauD.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauD.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo D, Número {{mauD.numero_Tumba}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(mauD)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'mD' + mauD.patio.id_Patio"
                    [ngClass]="'mD'+ mauD.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'mD' + mauD.patio.id_Patio"
                  [ngClass]="'mD'+ mauD.numero_Tumba">
              </div>
            </div>
            <div *ngIf="mauD.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top" title="Mausoleo D, Número {{mauD.numero_Tumba}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 12px; height: 17px;"
                  [id]="'mD' + mauD.patio.id_Patio" [ngClass]="'mD'+ mauD.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Mausoleo D-->

          <!-- Nichos A-->
          <div *ngFor="let niA of NichoA; let i = index">
            <div *ngIf="niA.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho A, Número {{niA.numero_Tumba}}, Nivel {{niA.nivel}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nA' + niA.patio.id_Patio" [ngClass]="'nA'+ niA.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niA.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho A, Número {{niA.numero_Tumba}}, Nivel {{niA.nivel}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(niA)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'nA' + niA.patio.id_Patio"
                    [ngClass]="'nA'+ niA.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'nA' + niA.patio.id_Patio"
                  [ngClass]="'nA'+ niA.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niA.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho A, Número {{niA.numero_Tumba}}, Nivel {{niA.nivel}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nA' + niA.patio.id_Patio" [ngClass]="'nA'+ niA.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Nichos A-->

          <!-- Nichos B-->
          <div *ngFor="let niB of NichoA; let i = index">
            <div *ngIf="niB.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho B, Número {{niB.numero_Tumba}}, Nivel {{niB.nivel}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nB' + niB.patio.id_Patio" [ngClass]="'nB'+ niB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niB.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho B, Número {{niB.numero_Tumba}}, Nivel {{niB.nivel}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(niB)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'nB' + niB.patio.id_Patio"
                    [ngClass]="'nB'+ niB.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'a' + niB.patio.id_Patio"
                  [ngClass]="'nB'+ niB.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niB.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho B, Número {{niB.numero_Tumba}}, Nivel {{niB.nivel}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nB' + niB.patio.id_Patio" [ngClass]="'nB'+ niB.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Nichos B-->

          <!-- Nichos C-->
          <div *ngFor="let niC of NichoC; let i = index">
            <div *ngIf="niC.estado_Tumba == 'Disponible'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho C, Número {{niC.numero_Tumba}}, Nivel {{niC.nivel}}">
                <img src="assets/img/VistaLibre2.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nB' + niC.patio.id_Patio" [ngClass]="'nC'+ niC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niC.estado_Tumba == 'Ocupado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho C, Número {{niC.numero_Tumba}}, Nivel {{niC.nivel}}">
                <button *ngIf="!service.hasRole('ROLE_CLIENT')" style="display: contents;" data-toggle="modal"
                  data-target="#DifuntosOcupados" (click)="cargarMostrarDifuntos(niC)"><img src="assets/img/VistaOcupado.png"
                    alt="" style="width: 10px; height: 7px;" [id]="'nC' + niC.patio.id_Patio"
                    [ngClass]="'nC'+ niC.numero_Tumba"></button>
                <img *ngIf="service.hasRole('ROLE_CLIENT')" src="assets/img/VistaOcupado.png" alt=""
                  style="width: 10px; height: 7px;" [id]="'a' + niC.patio.id_Patio"
                  [ngClass]="'nC'+ niC.numero_Tumba">
              </div>
            </div>
            <div *ngIf="niC.estado_Tumba == 'Reservado'">
              <div data-toggle="tooltip" data-placement="top"
                title="Lote Nicho C, Número {{niC.numero_Tumba}}, Nivel {{niC.nivel}}">
                <img src="assets/img/VistaLibre.png" alt="" style="width: 8px; height: 3px;"
                  [id]="'nC' + niC.patio.id_Patio" [ngClass]="'nC'+ niC.numero_Tumba">
              </div>
            </div>
          </div>
          <!-- Fin Nichos C-->
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="modal" id="DifuntosOcupados">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="font-family: 'Times New Roman', Times, serif;" class="modal-title"><b>Detalle Sepultura</b></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" >
        <br>
        <div class="table-responsive">
          <table class="table table-hover" style="text-align: center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ubicación Sepultura</th>
                    <th scope="col">RUN</th>
                    <th scope="col">Nombre Difunto</th>
                    <th scope="col">Fecha Defunción</th>
                    <th scope="col">Fecha Sepultura</th>
                </tr>
            </thead>
            <tbody>
  
                <tr *ngFor="let dif of MismaTumba " >
                    <td>Número {{dif.tumba}}, <br> {{dif.contrato.patio.nombre_Patio}}</td>
                    <td>{{dif.difunto.rut_Difunto}}</td>
                    <td>{{dif.difunto.nombres_Difunto}} {{dif.difunto.apellidoP_Difunto}} {{dif.difunto.apellidoM_Difunto}}</td>
                    <td>{{dif.difunto.fecha_Defuncion | date:'dd-MM-yyyy'}}</td>
                    <td>{{dif.fecha_Entierro_TD | date:'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>