<div class="container">
    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a style="color:#1d87f8" data-toggle="modal"
                    data-target="#exampleModal">Difuntos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Difuntos</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend style="font-style: oblique"><b> Formulario Incripción de Difuntos</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Personales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Rut</label>
                        <input type="text" class="form-control" id="rutDifunto" placeholder="Ingrese un rut 11111111-1">
                    </div>
                    <div class="col">
                        <label>Nombres</label>
                        <input type="text" class="form-control" id="nombresDifunto"
                            placeholder="Ingrese nombre difunto">
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" id="apellidoPDifunto"
                            placeholder="Ingrese Apellido Paterno">
                    </div>
                    <div class="col">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" id="apellidoMDifunto"
                            placeholder="Ingrese Apellido Materno">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Seleccione Género</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Femenino</option>
                            <option>Masculino</option>
                            <option>Otro</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="fechaNacimientoDifunto">Fecha Nacimiento</label>
                        <input class="form-control" type="date" th:field="*{fechaNacimientodifunto}"
                            th:errorclass="'form-control alert-danger'">
                    </div>
                </div>
            </div>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos de Defunción</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="fechaNacimientoDifunto">Fecha Defunción</label>
                        <input class="form-control" type="date" th:field="*{fechaDefuncionDifunto}"
                            th:errorclass="'form-control alert-danger'">
                    </div>
                    <div class="col">
                        <label for="fechaNacimientoDifunto">Fecha Entierro</label>
                        <input class="form-control" type="date" th:field="*{fechaEntierroDifunto}"
                            th:errorclass="'form-control alert-danger'">
                    </div>
                    <div class="col">
                        <label for="fechaNacimientoDifunto">Fecha Incripción</label>
                        <input class="form-control" type="date" th:field="*{fechaInscripcionDifunto}"
                            th:errorclass="'form-control alert-danger'">
                    </div>
                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos de Familiares</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombre del Padre</label>
                        <input type="text" class="form-control" id="padreDifunto"
                            placeholder="Ingrese el nombre del Padre">
                    </div>
                    <div class="col">
                        <label>Nombre de la Madre</label>
                        <input type="text" class="form-control" id="madreDifunto"
                            placeholder="Ingrese el nombre de la Madre">
                    </div>
                </div>
            </div>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Documentación a Presentar</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Seleccione Sacramentos</label>
                        <br>
                        <input type="checkbox" name="sacramento1" value="1" checked> Bautismo
                        <br>
                        <input type="checkbox" name="sacramento2" value="2" checked> Eucaristía
                        <br>
                        <input type="checkbox" name="sacramento3" value="3" checked> Confirmación
                        <br>
                        <input type="checkbox" name="sacramento4" value="4" checked> Matrimonio
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Cargue fotocopia Carnet</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <label>Seleccione Documentos presentados</label>
                        <br>
                        <input type="checkbox" name="documento1" value="1"> Certificado Defunción
                        <br>
                        <input type="checkbox" name="documento2" value="2" checked> Fotocopia Carnet ambos lados
                    </div>
                </div>
            </div>




        </form>
        <br>
        <div style="text-align: center">
            <button [routerLink]="['/administracion-inicio/ADifuntos']" type="submit" class="btn btn-danger"> Cancelar
            </button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-success"> Guardar </button>
        </div>
        <br>

    </div>
</div>


<!--
     
-->

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body; text-justify">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        Si continuas los valores del formulario se perderan.<br>
                        No se guardará nada que no se haya guardado previamente.<br>
                        <p style="color: red"><i><b>¿Estas seguro de querer volver a la pagina anterior?</b></i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/administracion-inicio/ADifuntos']"
                    data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>