<div class="container">
    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AformularioDifuntos']" href="#" (click)="cancelarDifunto()">Difuntos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Difuntos</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend style="font-style: oblique"><b> Formulario Incripción de Difuntos</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formDifunto" novalidate>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Personales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Rut</label>
                        <input formControlName="rut_Difunto" [(ngModel)]="difuntoParams.rut_Difunto" type="text" class="form-control" id="rutDifunto" placeholder="Ingrese un rut 11111111-1">
                    </div>
                    <div class="col">
                        <label>Nombres</label>
                        <input formControlName="nombres_Difunto" [(ngModel)]="difuntoParams.nombres_Difunto" type="text" class="form-control" id="nombresDifunto"
                            placeholder="Ingrese nombre difunto">
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Apellido Paterno</label>
                        <input formControlName="apellidoP_Difunto" [(ngModel)]="difuntoParams.apellidoP_Difunto" type="text" class="form-control" id="apellidoPDifunto"
                            placeholder="Ingrese Apellido Paterno">
                    </div>
                    <div class="col">
                        <label>Apellido Materno</label>
                        <input formControlName="apellidoM_Difunto" [(ngModel)]="difuntoParams.apellidoM_Difunto" type="text" class="form-control" id="apellidoMDifunto"
                            placeholder="Ingrese Apellido Materno">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="genero_Difunto">Género</label>
                        <select formControlName="genero_Difunto" [(ngModel)]="difuntoParams.genero_Difunto" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected disabled >Seleccione Género </option>
                            <option>Femenino</option>
                            <option>Masculino</option>
                            <option>Otro</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="fecha_Nacimiento_Difunto">Fecha Nacimiento</label>
                        <input formControlName="fecha_Nacimiento_Difunto" [(ngModel)]="difuntoParams.fecha_Nacimiento_Difunto" class="form-control" type="date" th:field="*{fechaNacimientodifunto}"
                            th:errorclass="'form-control alert-danger'">
                    </div>
                </div>
            </div>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos de Defunción</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="fecha_Defuncion">Fecha Defunción</label>
                        <input formControlName="fecha_Defuncion" [(ngModel)]="difuntoParams.fecha_Defuncion" class="form-control" type="date" 
                        data-format="yyyy-MM-dd" data-template="D MMM YYYY">
                    </div>
                    <div class="col">
                        <label for="fechaEntierroDifunto">Fecha Entierro</label>
                        <input formControlName="fecha_Entierro" [(ngModel)]="difuntoParams.fecha_Entierro" class="form-control" type="date" 
                        data-format="yyyy-MM-dd" data-template="D MMM YYYY">
                    </div>
                    <div class="col">
                        <label for="fechaNacimientoDifunto">Fecha Incripción</label>
                        <input formControlName="fecha_Inscripcion_Difunto" [(ngModel)]="difuntoParams.fecha_Inscripcion_Difunto" class="form-control" type="date" 
                        data-format="yyyy-MM-dd" data-template="D MMM YYYY">
                    </div>
                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos de Familiares</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombre del Padre</label>
                        <input formControlName="nombreC_Padre" [(ngModel)]="difuntoParams.nombreC_Padre" type="text" class="form-control" id="padreDifunto"
                            placeholder="Ingrese el nombre del Padre">
                    </div>
                    <div class="col">
                        <label>Nombre de la Madre</label>
                        <input formControlName="nombreC_Madre" [(ngModel)]="difuntoParams.nombreC_Madre" type="text" class="form-control" id="madreDifunto"
                            placeholder="Ingrese el nombre de la Madre">
                    </div>
                </div>
            </div>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Documentación a Presentar</h4>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Seleccione Sacramentos</label>
                        <br>
                        <input formControlName="sacramento1" [(ngModel)]="difuntoParams.sacramento1" type="checkbox" name="sacramento1" value="1" checked> Bautismo
                        <br>
                        <input formControlName="sacramento2" [(ngModel)]="difuntoParams.sacramento2" type="checkbox" name="sacramento2" value="2" checked> Eucaristía
                        <br>
                        <input formControlName="sacramento3" [(ngModel)]="difuntoParams.sacramento3" type="checkbox" name="sacramento3" value="3" checked> Confirmación
                        <br>
                        <input formControlName="sacramento4" [(ngModel)]="difuntoParams.sacramento4" type="checkbox" name="sacramento4" value="4" checked> Matrimonio
                    </div>
                    <div class="col">                        
                        <label>Seleccione Documentos presentados</label>                                           
                        <br>
                        <input formControlName="certificado_Defuncion" [(ngModel)]="difuntoParams.certificado_Defuncion" type="checkbox" name="documento1" value="1" checked> Certificado Defunción                        
                        <br>
                        <input formControlName="fotocopia_Carnet" [(ngModel)]="difuntoParams.fotocopia_Carnet" type="checkbox" name="documento3" value="2" checked> Fotocopia Carnet ambos lados
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <button (click)="cancelarDifunto()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button type="submit"  (click)='createDifunto()' class="btn btn-primary"
                        *ngIf="!difuntoParams.id_Difunto else elseBlock">Guardar</button> <!-- [disabled]="!formDifunto.valid"-->
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>
                </div>
            </div>

            <!--
            <div style="text-align: center">
                <button [routerLink]="['/administracion-inicio/ADifuntos']" type="submit" class="btn btn-danger"> Cancelar
                </button>
                &nbsp;&nbsp;
                <button (click)="createDifunto()" type="submit" class="btn btn-success"> Guardar </button>
            </div>
            -->

        </form>
        <br>
        
        <br>

    </div>
</div>


<!--
     
-->

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body; text-justify">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        Si continuas los valores del formulario se perderan.<br>
                        No se guardará nada que no se haya guardado previamente.<br>
                        <p style="color: red"><i><b>¿Estas seguro de querer volver a la pagina anterior?</b></i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/administracion-inicio/ADifuntos']"
                    data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>