<div class="container-fluid">
    <div class="row h-100">
      <div class="col-3 bg-white px-4 pt-4 rounded m-auto h-80 shadow">
        <form method="POST">
          <h3 class="text-center mb-3 pb-4 border-bottom">Cementerio de Pinto</h3>
          <p class="lead text-center">Formulario de autenticación para personal</p>
          <div class="form-group">
            <label for="exampleInputUsuario1">Usuario</label>
            <input [(ngModel)]= "usuario.username" type="usuario" class="form-control" id="username" name="username" aria-describedby="usuarioHelp" placeholder="Ingrese usuario" autofocus required>
          </div>
          <div class="form-group">
            <label for="exampleInputContraseña1">Contraseña</label>
            <input [(ngModel)]= "usuario.password" type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
            <small id="ContraseñaHelp" class="form-text text-muted">No comparta nunca su contraseña</small>
            <br>
            <button (click)="login()" type="submit" class="btn btn-dark btn-block btn-lg" >Ingresar</button>
          </div>         
          <br>
        </form>
      </div>
    </div>
  </div>