<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="../assets/img/logo.png" height=40px width=40px alt="">&nbsp;&nbsp;
    <a class="navbar-brand" routerLink="" style="color: white">Cementerio de Pinto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="login()">Inicio de Sesión</a>
          </li>
      </ul>
    </div>
  </div>
</nav>