.jumbotron {
    min-height: 100vh !important;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://scontent.fpmc1-1.fna.fbcdn.net/v/t1.0-9/65195595_10219875811585811_7275330757227184128_n.jpg?_nc_cat=107&_nc_ht=scontent.fpmc1-1.fna&oh=b7ad5c97d2fe3ff0240f21bbd5a9b30c&oe=5D7C89B7');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
}
p{
    font-weight: bold;
}

.colorFig{
    color: white;
}