<div class="jumbotron">
    <h1 class="display-4">Bienvenido al panel del personal del cementerio</h1>
    <p class="lead">Desde acá podras gestionar los terrenos, occisos y clientes</p>
    <hr class="my-4">
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a [routerLink]="['/personal-inicio/mapaTerrenos']" href="#"><i
                        class="fas fa-map fa-5x colorFig"></i></a>
                <h6 class="mt-3">Ir a Terrenos </h6>
            </div>
            <div class="col-4">
                <a [routerLink]="['/personal-inicio/occisos']" href="#"><i class="fas fa-cross fa-5x colorFig"></i></a>
                <h6 class="mt-3">Ir a Occisos </h6>
            </div>
            <div class="col-4">
                <a [routerLink]="['/personal-inicio/clientes']" href="#"> <i
                        class="fas fa-user-friends fa-5x colorFig"></i></a>
                <h6 class="mt-3">Ir a Clientes </h6>
            </div>
        </div>
    </div>


</div>
<!-- <div class="col-4">        
    <div class="col-4"> 
        <a routerLink="terreno" href="#"><i class="fas fa-map fa-5x"></i></a>
        <h6 class="mt-3">Ir a Terrenos </h6>
    </div>
    </div>  -->