.jumbotron {

    min-height: 100vh !important;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../../assets/img/iglesia.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
}
p{
    font-weight: bold;
}

.colorFig{
    color: white;
}
