<div id='content' #content>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-11" style="text-align: left;">
        <b>COMPRA DE TERRENO</b><br>
        <b>CEMENTERIO NUEVO DE PINTO</b>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-11" style="text-align: justify;">
        <p>
          En Pinto con fecha "PASAR FECHA". Se realiza la compra de un terreno <br>
          en el cementerio nuevo de pinto por :
          "NOMBRECLIENTE" "RUT", Patio: "PATIO" y Lote: "NUMERO TUMBA" por 20 años.<br>
          (Después de los 20 se hace renovación).
        </p>
        <p>
          Medidas del terreno: Ancho "Ancho Tumba" X "Largo Tumba" largo.<br>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Para "Capacidad" persona(después de 1 año se comienza a pagar mantencion)<br>
          Terreno con un valor de "VALOR" pagado "MEDIOPAGO" "PIE" y la diferencia en "NumCuotas" de "VALORCUOTA" c/una  <br>
          pagando los "FECHAPAGO" de cada mes.
        </p>
        <p>
          CELULAR: "TELEFONOCLIENTE" DIRECCION: "DIRECCION"<br>
          (Plazo para construir 2 años desde la fecha de compra).
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container" >
    <div class="row">
      <div class="col">
       
      </div>
      <div class="col">
        <p>
          ____________________ <br>
        FIRMA COMPRADOR
        </p>
      </div>   
      <div class="col">
        <p >
          ____________________ <br>
        FIRMA COMPRADOR
        </p>
      </div>   
      <div class="col">
       
      </div>      
    </div>
  </div>
</div>



<div>
  <button (click)="generatePDF()">Exportar</button>
</div><br><br><br>
<!--



-->