
<div class="container">
  
  <hr>
  <div class="row" style="padding-left:90px ;">
    <div class="col-4 text-left">
      <button type="button" class="btn btn-info" 
      (click)="volver()"> Volver </button>
    </div>
    <div class="col-4 text-right">
      <button type="button" class="btn btn-info" 
      (click)="generatePDF()"> Exportar </button>
    </div>
  </div>
<hr>
</div>
<div id='content' #content>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10" style="text-align: left;">
        <b>COMPRA DE TERRENO</b><br>
        <b>CEMENTERIO NUEVO DE PINTO</b>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10" style="text-align: justify;" >
        <p>
          En Pinto con fecha {{contratoParams.fecha_Ingreso_Venta}}. Se realiza la compra de un terreno <br>
          en el cementerio nuevo de pinto por :
          {{contratoParams.cliente.nombres_Cliente}} {{contratoParams.cliente.apellidoP_Cliente}} {{contratoParams.cliente.apellidoM_Cliente}}  {{contratoParams.cliente.rut_Cliente}},<br>
          Patio: {{contratoParams.patio.nombre_Patio}} y Lote: {{contratoParams.tumba}} por 20 años.<br>
          (Después de los 20 se hace renovación).
        </p>
        <p>
          Medidas del terreno: Ancho {{tumbaL.ancho}} X {{tumbaL.largo}} largo.<br>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Para {{contratoParams.tipoTumba.capacidad_tipo_tumba}} persona(s) (después de 1 año se comienza a pagar mantencion)<br>
          Terreno con un valor de ${{contratoParams.valor_Terreno}} pagado mediante {{contratoParams.medio_Pago | uppercase}}, con un pago <br>
          inicial de ${{contratoParams.pagoInicial}} y la diferencia en {{contratoParams.n_Cuotas}} cuota(s) de {{contratoParams.VCuotas}} c/una pagando los {{dias}} de <br> cada mes.
        </p>
        <p>
          CELULAR: {{contratoParams.cliente.telefono_Cliente}} <br>
          DIRECCION: {{contratoParams.cliente.direccion_Cliente}}<br>
          (Plazo para construir 2 años desde la fecha de compra).
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container" >
    <div class="row">
      <div class="col">
       
      </div>
      <div class="col">
        <p>
          ____________________ <br>
        FIRMA SECRETARIA
        </p>
      </div>   
      <div class="col">
        <p >
          ____________________ <br>
        FIRMA COMPRADOR
        </p>
      </div>   
      <div class="col">
       
      </div>      
    </div>
  </div>
  
</div>
<br><br><br>


