<div class="container"> CONTENEDOR PRINCIPAL-->

    <nav aria-label="breadcrumb"> MIGAS DE PAN-->
      <ol class="breadcrumb bg-white pl-0">
        <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">Inicio Personal</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
      </ol>
    </nav> FIN MIGAS DE PAN-->
  
      <h1>Clientes</h1>
  
      <div class="row my-3"> SECCION PARA FILTRAR-->
        <div class="col-2 my-auto">
          Filtrar por:
        </div>
        <div class="col-4 my-auto">
          <input type="text" [(ngModel)]="_listFilter">
        </div>
        <div class="col-6 text-right">
            <button type="button" name="editar" class="btn btn-primary btn-lg" routerLink="/personal-inicio/formularioClientes">Agregar Cliente</button>
        </div>
      </div> FIN SECCION PARA FILTRAR-->
  
       <div class="card mb-3">CARD CONTENEDORA DE LA TABLA-->
        <div class="card-header text-center">
          Listado de Clientes
        </div>
         <div class="card-body">-->
          <div class="table-responsive"> INICIO TABLA REVISIONES-->
            <table class="table table-hover" style="text-align: center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">RUN</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Cuotas totales</th>
                    <th scope="col">Cuotas pagadas</th>
                    <th scope="col">Proximo pago</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>14772453-3</th>
                    <th>Carla</th>
                    <th>Castillo</th>
                    <th>Sgto Aldea #821</th>
                    <th>965235781</th>
                    <th>6</th>
                    <th>4</th>
                    <th>15-07-2019</th>
                    <th><button class="btn btn-warning" routerLink="/personal-inicio/clientes-form2"><i class="fas fa-pencil-alt"></i></button> </th>
                    <th><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> </th>
                  </tr>
                  <tr>
                    <th>10322070-2</th>
                    <th>Mercedes</th>
                    <th>Peréz</th>
                    <th>Los Heroes #521</th>
                    <th>943277509</th>
                    <th>6</th>
                    <th>2</th>
                    <th>20-07-2019</th>                
                    <th><button class="btn btn-warning" routerLink="/personal-inicio/clientes-form2"><i class="fas fa-pencil-alt"></i></button> </th>
                    <th><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> </th>
                  </tr>
                  <tr>
                    <th>11447820-0</th>
                    <th>Patricio</th>
                    <th>Cordero</th>
                    <th>Carlos Condell #341</th>
                    <th>992100432</th>
                    <th>3</th>
                    <th>2</th>
                    <th>05-07-2019</th>
                    <th><button class="btn btn-warning" routerLink="/personal-inicio/clientes-form2"><i class="fas fa-pencil-alt"></i></button> </th>
                    <th><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> </th>
                  </tr>
  
                   <tr *ngFor="let c of clientesFiltered">
                    <td>{{c.rut}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.direccion}}</td>
                    <td>{{c.telefono}}</td>
                    <td><button type="button" name="editar" [routerLink]="['/personal-inicio/clientes-form',c.id]" class="btn btn-primary">editar</button></td>
                    <td><button type="button" name="eliminar" class="btn btn-danger" (click)='delete(c)'>eliminar</button></td>
                  </tr>-->
                </tbody>
            </table>
          </div> FIN TABLA REVISIONES-->  
         </div>-->
       </div>FIN CARD CONTENEDORA DE TABLA-->
    </div> FIN CONTENEDOR PRINCIPAL-->