<div class="container">
  <h2 class="my-3">Preguntas Frecuentes</h2>
  <p class="text-uppercase">Siga los siguientes consejos para tener una atención más rápida y sin contratiempos</p>
  <div class="row my-3">
    <div class="col-12">
      <div id="servicios">
        <div class="card">
          <div class="card-header" id="servicio1">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion1 aria-expanded="true"
                aria-controls="descripcion1">
                <b>1.- ¿QUÉ DOCUMENTOS SON LOS QUE DEBO PRESENTAR AL MOMENTO DE INSCRIBIR A UN DIFUNTO?</b>
              </button>
            </h2>
          </div>

          <div id="descripcion1" class="collage show" aria-labelledby="servicio1" data-parent="#servicios">
            <div class="card-body">
              La secretaria solicitará los siguentes documentos: <br>
              - Certificado de defunción <br>
              - Fotocopia cédula de identidad ambos lados <br>
              - Comprobante de pago terreno
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="servicio2">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion2 aria-expanded="true"
                aria-controls="descripcion2">
                <b> 2.- ¿CÓMO PUEDO INGRESAR AL SISTEMA?</b>
              </button>
            </h2>
          </div>

          <div id="descripcion2" class="collage show" aria-labelledby="servicio2" data-parent="#servicios">
            <div class="card-body">
              Por favor ingrese con su RUN y clave desde el inicio de sesión. <br>
              <b>Recomendacion:</b> <br>
              En el primer inicio cambie su contraseña por una nueva. Para poder cambiar la contraseña en la parte superior derecha encontrara su nombre y al presionar sobre el se desplegara el menu con la opcion "Cambiar Contraseña". Dentro de el ingrese su contraseña y presione en "Guardar", seguido a esto debera ingresar nuevamente con su RUN y contraseña nueva.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="servicio2">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion3 aria-expanded="true"
                aria-controls="descripcion3">
                <b> 3.- ¿CÓMO PUEDO SABER EL ESTADO ACTUAL DE MIS CUOTAS?</b>
              </button>
            </h2>
          </div>

          <div id="descripcion3" class="collage show" aria-labelledby="servicio3" data-parent="#servicios">
            <div class="card-body">
              Por favor ingrese con su RUN y clave desde el inicio de sesión, luego corrobore su estado actual de las
              cuotas.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="servicio3">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion4 aria-expanded="true"
                aria-controls="descripcion4">
                <b>4.- ¿DÓNDE DEBO SOLICITAR UNA RERPARACIÓN PARA UNA SEPULTURA?
                </b></button>
            </h2>
          </div>

          <div id="descripcion4" class="collage show" aria-labelledby="servicio4" data-parent="#servicios">
            <div class="card-body">
              Debe dirigirse a la oficina parroquial y solicitar un contrato de repación con la secretaria.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="servicio5">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion5 aria-expanded="true"
                aria-controls="descripcion5">
                <b>5.- ¿DÓNDE DEBO ENTREGAR EL PASE DE SEPULTACIÓN QUE ME ENTREGA LA SECRETARIA?
                </b></button>
            </h2>
          </div>

          <div id="descripcion5" class="collage show" aria-labelledby="servicio5" data-parent="#servicios">
            <div class="card-body">
              El pase de sepultación debe ser entregado al panteonero en el cementerio.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="servicio6">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion6 aria-expanded="true"
                aria-controls="descripcion6">
                <b>6.- ¿CUÁL ES EL VALOR DE UN DERECHO A SEPULTURA?</b>
              </button>
            </h2>
          </div>

          <div id="descripcion6" class="collage show" aria-labelledby="servicio6" data-parent="#servicios">
            <div class="card-body">
              Los valores de los derechos varian dependiendo de la ubicación de este,
              para mayor información debe dirigirse a la oficina parroquial y consultar con la secretaria.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="servicio7">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion7 aria-expanded="true"
                aria-controls="descripcion7">
                <b> 7.- ¿DÓNDE ESTA UBICADA LA OFICINA PARROQUIAL?</b>
              </button>
            </h2>
          </div>

          <div id="descripcion7" class="collage show" aria-labelledby="servicio7" data-parent="#servicios">
            <div class="card-body">
              Calle Sargento Aldea s/n, frente a la plaza de armas de Pinto al costado derecho de la parroquia.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="servicio8">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion8 aria-expanded="true"
                aria-controls="descripcion8">
                <b>8.- ¿CUÁL ES EL HORARIO DE ATENCION DE LA OFICINA PARROQUIAL? </b>
              </button>
            </h2>
          </div>
          <div id="descripcion8" class="collage show" aria-labelledby="servicio8" data-parent="#servicios">
            <div class="card-body">
              Lunes a Viernes: <br>
              - Mañana : 09:00 a 13:00 hrs. <br>
              - Tarde : 14:00 a 17:00 hrs. <br>
              - Sábado : 09:30 a 12:30 hrs.
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>