<div class="container">

    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sepulturas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <div class="row my-3">
        <!--SECCION PARA FILTRAR-->
        <div class="col-2 my-auto">
            Filtrar por nombre:
        </div>
        <div class="col-4 my-auto">
            <input type="text" [(ngModel)]="listFilter">
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-info"
                [routerLink]="['/administracion-inicio/AFormularioSepultura']">Formulario Ingreso</button>
        </div>
    </div>
    <!--FIN SECCION PARA FILTRAR-->

            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Sepulturas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--INICIO LISTADO DE TABLA -->
                        <table class="table table-hover" style="text-align: center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre Difunto</th>
                                    <th scope="col">Numero de tumba</th>
                                    <th scope="col">Fecha de sepultura</th>
                                    <th scope="col">Pase Sepultación</th>
                                </tr>
                            </thead>
                            <tbody>
            
                                <tr *ngFor="let cem of tumbaDifuntoList">
                                    <td>{{cem.difunto.nombres_Difunto}}</td>
                                    <td>{{cem.tumba}}</td>
                                    <td>{{cem.fecha_Entierro_TD}}</td>
                                    <td><button  [routerLink]="[ '/administracion-inicio/paseSepultacion/',cem.id_Tumba_Difunto ]"   type="button" name="pdf"
                                        class="btn btn-info">
                                        <i class="fas fa-file-pdf"></i>
                                    </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




</div>