<div class="container">

    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sepulturas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <div class="container">
        <div class="row ">
            <!--SECCION PARA FILTRAR-->
            <div class="input-group mb-3 col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchText"
                    placeholder="Filtrar por rut del Difunto" aria-describedby="basic-addon1">
            </div>
            <div class="col-2"></div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info"
                    [routerLink]="['/administracion-inicio/AFormularioSepultura']">Formulario de Ingreso</button>
            </div>
        </div>
    </div>
    <br>

            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Sepulturas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--INICIO LISTADO DE TABLA -->
                        <table class="table table-hover" style="text-align: center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre Difunto</th>
                                    <th scope="col">RUN Difunto</th>
                                    <th scope="col">Número de tumba</th>
                                    <th scope="col">Fecha de Sepultura</th>
                                    <th scope="col">Pase Sepultación</th>
                                </tr>
                            </thead>
                            <tbody>
            
                                <tr *ngFor="let cem of tumbaDifuntoList | filter10: searchText">
                                    <td>{{cem.difunto.nombres_Difunto}}</td>
                                    <td>{{cem.difunto.rut_Difunto}}</td>
                                    <td>{{cem.tumba}}</td>
                                    <td>{{cem.fecha_Entierro_TD}}</td>
                                    <td><button  [routerLink]="[ '/administracion-inicio/paseSepultacion/',cem.id_Tumba_Difunto ]"   type="button" name="pdf"
                                        class="btn btn-info">
                                        <i class="fas fa-file-pdf"></i>
                                    </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




</div>