<div class="container">

    <nav aria-label="breadcrumb">
         MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Cuotas Contrato</li>
        </ol>
    </nav>
     FIN MIGAS DE PAN-->
    <hr>
    <br>



    <div class="row">
        <div class="col-2 ">
            <button type="button" class="btn btn-info" (click)="volver()"> Volver </button>
        </div>
        <div class="col-8 text-center">
            <h3>Cuotas Contratos</h3>
        </div>
    </div>
    <hr>
    <br>
    <div class="card mb-3">
        <div class="card-header text-center">
            Cuotas Derecho
        </div>
        <div class="card-body">
            <div class="table-responsive">
                 INICIO Cuotas Derecho -->
                <table class="table table-hover" style="text-align: center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Valor Cuota</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ven of pagosDerecho1 ; let i = index">
                             -->

                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{ven.valorCuota_Derecho}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" [disabled]="true">Inpaga</button>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header text-center">
            Cuotas Mantención
        </div>
        <div class="card-body">
            <div class="table-responsive">
                 INICIO Cuotas Derecho -->
                <table class="table table-hover" style="text-align: center">
                    <thead class="thead-dark">
                        <tr>
                             <th scope="col">Numero</th>-->
                            <th scope="col">N°</th>
                            <th scope="col">Valor Cuota</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuotas of pagosMantencion1; let i = index ">
                             -->

                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{cuotas.valorCuota_Mantencion}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" [disabled]="true">Inpaga</button>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>