<div class="container">
     MIGAS DE PAN-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AFormularioTumba']" href="#" (click)="cancelarTipoTumba()">Tipo de Tumbas</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Tipo de Tumbas</li>
        </ol>
    </nav>
     FIN MIGAS DE PAN-->
    <legend>Formulario de Tipo de Tumba</legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formTipoTumba" novalidate>
            <div class="separacion">
                <h4> &nbsp; Datos principales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombre</label>
                        <input formControlName="nombretipo_tumba" [(ngModel)]="tipotumbaParams.nombretipo_tumba" type="text" class="form-control" id="nombreTipoTumba"
                            placeholder="Ingrese un nombre para el tipo de tumba">
                            <div *ngIf="formTipoTumba.get('nombretipo_tumba').hasError('required') && 
                                (formTipoTumba.get('nombretipo_tumba').touched || formTipoTumba.get('nombretipo_tumba').dirty)"
                                class="alert alert-danger">
                                El Nombre del tipo de tumba es obligatorio.
                            </div>
                            <div *ngIf="formTipoTumba.get('nombretipo_tumba').hasError('minlength') && 
                                (formTipoTumba.get('nombretipo_tumba').touched || formTipoTumba.get('nombretipo_tumba').dirty)"
                                class="alert alert-danger">
                                El nombre debe tener al menos 3 caracteres.
                            </div>
                    </div>
                    <div class="col">
                        <label>Capacidad Tumba</label>
                        <input formControlName="capacidad_tipo_tumba" [(ngModel)]="tipotumbaParams.capacidad_tipo_tumba" type="number" class="form-control" id="capacidadTipoTumba"
                            placeholder="Ingrese la capacidad del tipo tumba">
                            <div *ngIf="formTipoTumba.get('capacidad_tipo_tumba').hasError('required') && 
                               (formTipoTumba.get('capacidad_tipo_tumba').touched || formTipoTumba.get('capacidad_tipo_tumba').dirty)"
                                class="alert alert-danger">
                                La capacidad de la tumba es obligatoria.
                            </div>
                    </div>
                    <div class="col-2">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group row">
                <div class="col">
                    <button (click)="cancelarTipoTumba()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button type="submit" [disabled]="!formTipoTumba.valid" (click)='createTipoTumba()' class="btn btn-primary"
                        *ngIf="!tipotumbaParams.id_TipoTumba else elseBlock">Guardar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>
                </div>
            </div>
             
            <div style="text-align: center">
                <button (click)="cancelarTipoTumba()" type="submit" class="btn btn-danger">
                    Cancelar </button>
                &nbsp;&nbsp;
                <button (click)="createTipoTumba()" type="submit" class="btn btn-success"> Guardar </button>
            </div>-->

        </form>
        
    </div>
</div>