<div class="jumbotron">
    <div class="wrapper fadeInDown ">
        <div id="formContent">
            <!-- Tabs Titles -->
<hr>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../../../assets/img/logo.png" style="width: 90px; padding-top:10px ;padding-bottom: 10px;"
                    id="icon" alt="User Icon" /> <br><i><b><label for="" style="color: black;">Cambiar
                            Contraseña</label></b></i>
                <hr>
            </div>

            <!-- Login Form -->
            <div align="center" >
                <i><b><label for="" style="color: black;">Contraseña Antigua</label></b></i>

            </div>
            <div>
                <input  [(ngModel)]="cambiopass.antigua"type="password" id="password" class="fadeIn third" name="login" placeholder="password" >                
            </div>
            <div align="center" >
                <i><b><label for="" style="color: black;">Nueva Contraseña</label></b></i>

            </div>
            <div><!--[(ngModel)]="cambiopass.contraseñaNueva"-->
                <input [(ngModel)]="cambiopass.nueva"  type="password" id="password" class="fadeIn third" name="login" placeholder="password"  >
                <input type="submit" class="fadeIn fourth" value="Guardar" (click)="cambiarPass()">
            </div>
            <hr>
        </div>
    </div>
</div>