<div class="container">

    <!--MIGAS DE PAN-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AFormularioFuncionario']" href="#" (click)="cancelarFuncionario()">Funcionarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Funcionario</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend>Formulario inscripción Funcionarios</legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formFuncionario" novalidate>
            <div class="separacion">
                <h4> &nbsp; Datos Personales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Rut</label>
                        <input formControlName="rut_Funcionario" type="text" class="form-control" id="rut_Funcionario"
                            placeholder="Ingrese un rut 11111111-1">
                    </div>
                    <div class="col">
                        <label>Nombres</label>
                        <input formControlName="nombres_Funcionario" type="text" class="form-control" id="nombres_Funcionario"
                            placeholder="Ingrese ambos nombres del Funcionario">
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Apellido Paterno</label>
                        <input formControlName="apellidoP_Funcionario" type="text" class="form-control" id="apellidoP_Funcionario"
                            placeholder="Ingrese Apellido Paterno">
                    </div>
                    <div class="col">
                        <label>Apellido Materno</label>
                        <input formControlName="apellidoM_Funcionario" type="text" class="form-control" id="apellidoM_Funcionario"
                            placeholder="Ingrese Apellido Materno">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Género</label>
                        <select formControlName="genero_Funcionario"class="form-control" id="genero_Funcionario">
                            <option value="" selected disabled>Seleccione Género </option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                            <option>Otro</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="exampleFormControlSelect1">Cargo</label>
                        <select formControlName="cargo_Funcionario" class="form-control" id="cargo_Funcionario">
                            <option value="" selected disabled>Seleccione Cargo </option>
                            <option>Párroco</option>
                            <option>Secretaria</option>
                            <option>Consejo Económico</option>
                            <option>Panteonero</option>
                        </select>
                    </div>

                </div>
            </div>
            <div style="text-align: center">
                <button (click)="cancelarFuncionario()" type="submit" class="btn btn-danger"> Cancelar </button>
                &nbsp;&nbsp;
                <button (click)="createFuncionario()" type="submit" class="btn btn-success"> Guardar </button>
            </div>
        </form>
  
    </div>
</div>