<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper">

  <nav id="sidebar" [ngClass]="{'mostrar-sidebar': !mostrarSidebar}">
    <div class="sidebar-header" align="center">
      <br>
      <img src="../assets/img/logo.png" height=40% width=40% alt=""><br><br>
      <p class="titulo-menu" align="center" style="color: white">Cementerio de Pinto</p>
    </div>
    <ul class="list-unstyled components">
      <li><a [routerLink]="['/administracion-inicio']"><i class="fas fa-home"></i> <span>Inicio</span> </a></li>
     
      <li *ngIf="service.hasRole('ROLE_CLIENT')" class="nav-item">
        <a class="nav-link" routerLink="CCuotas"><i class="fas fa-user-alt colorFig"></i> Mis Cuotas</a>
      </li>

      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="active ">
        <a href="#homeSubmenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><i class="fas fa-church"></i>Gestión Cementerio</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a class="nav-link" routerLink="ACementerio"><i class="fas fa-arrow-right"></i>Cementerio</a>
          </li>
          <li>
            <a class="nav-link" routerLink="AGTerreno"><i class="fas fa-arrow-right"></i>Terrenos</a>
          </li>
          <li>
            <a class="nav-link" routerLink="APatio"><i class="fas fa-arrow-right"></i>Patios</a>
          </li>
          <li>
            <a class="nav-link" routerLink="ATumba"><i class="fas fa-arrow-right"></i>Tipo de Tumba</a>
          </li>
          <li>
            <a class="nav-link" routerLink="ACreaTumba"><i class="fas fa-arrow-right"></i>Tumba</a>
          </li>
        </ul>
      </li>

      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="Afuncionarios"><i class="fas fa-user-alt colorFig"></i> Funcionarios</a>
      </li>
      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="Aclientes"> <i class="fas fa-user-friends  colorFig"></i>Clientes</a>
      </li>
      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="ADifuntos"> <i class="fas fa-cross  colorFig"></i>Difuntos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ATerrenosLibres"><i class="fas fa-map colorFig"></i> Mapa de Terrenos</a>
      </li>      
      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="AVentas"><i class="fas fa-handshake"></i> Realizar Venta</a>
      </li>
      <li *ngIf="service.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="ASepultura"><i class="material-icons" style="font-size:px">call_received</i> Realizar Sepultura</a>
      </li>
      <li *ngIf="service.hasRole('ROLE_EMPLEADO')" class="nav-item">
        <a class="nav-link" routerLink="Aclientes"> Reportes</a>
      </li>
 

    </ul>


  </nav>

  <div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

      <button type="button" (click)="ocultarSidebar()" id="sidebarCollapse" class="btn btn-info btn-menu">
        <i class="fa fa-align-justify"></i>
      </button>

      <!--<a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">

            
            <div class="dropdown">
              <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-alt"></i>{{getNombre()}}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="[ '/administracion-inicio/cambiarPassword' ]" href="#">Cambiar Contraseña</a>
                <a class="dropdown-item" (click)="logout()"> Cerrar Sesión</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>


  </div>

</div>