<div class="container">

        <nav aria-label="breadcrumb">
                <!--MIGAS DE PAN-->
                <ol class="breadcrumb bg-white pl-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
                </ol>
        </nav>
        <!--FIN MIGAS DE PAN-->

        <div class="row my-3">
                <!--SECCION PARA FILTRAR-->
                <div class="col-2 my-auto">
                        Filtrar por nombre:
                </div>
                <div class="col-4 my-auto">
                        <input type="text" [(ngModel)]="listFilter">
                </div>
                <div class="col-6 text-right">
                        <button type="button" class="btn btn-info"
                                [routerLink]="['/administracion-inicio/AFormCliente']">Formulario
                                Ingreso</button>
                </div>
        </div>
        <!--FIN SECCION PARA FILTRAR-->

        <div class="card mb-3">
                <div class="card-header text-center">
                        Listado de Clientes
                </div>
                <div class="card-body">
                        <div class="table-responsive">
                                <!--INICIO LISTADO DE TABLA -->
                                <table class="table table-hover" style="text-align: center">
                                        <thead class="thead-dark">
                                                <tr>
                                                        <th scope="col">Rut Cliente</th>
                                                        <th scope="col">Nombres</th>
                                                        <th scope="col">Apellidos</th>
                                                        <th scope="col">Teléfono</th>
                                                        <th scope="col">Dirección</th>
                                                        <th scope="col">Acciones</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let cli of clienteList2">
                                                        <td>{{cli.rut_Cliente}}</td>
                                                        <td>{{cli.nombres_Cliente}}</td>
                                                        <td>{{cli.apellidoP_Cliente}} {{cli.apellidoM_Cliente}}</td>
                                                        <td>{{cli.telefono_Cliente}}</td>
                                                        <td>{{cli.direccion_Cliente}}</td>
                                                        <td>
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" 
                                                                data-target="#datosCliente"><i class="fas fa-eye"></i>
                                                                </button>
                                                                &nbsp;
                                                                <button type="button" name="editar"
                                                                        [routerLink]="['/personal-inicio/clientes-form',cli.id]"
                                                                        class="btn btn-warning"><i
                                                                                class="fas fa-pencil-alt"></i></button>
                                                                &nbsp;
                                                                <button type="button" name="eliminar"
                                                                        class="btn btn-danger"><i
                                                                                class="fas fa-trash-alt"></i>
                                                                </button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>

</div>

<!-- MODAL DE DATOS-->
        <!-- The Modal -->
        <div class="modal" id="datosCliente">
                <div class="modal-dialog">
                        <div class="modal-content">
        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                        <h4 style="font-family: 'Times New Roman', Times, serif;" class="modal-title"><b>Ver Cliente</b></h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
        
                                <!-- Modal body -->
                                <div class="modal-body">
                                        <h4 style="font-family: 'Times New Roman', Times, serif;"><b>Datos Cliente</b></h4>
                                        <hr>
                                        <label *ngFor="let clim of clienteList2">
                                                <b>Rut:</b> {{clim.rut_Cliente}} <br>
                                                <b>Nombre:</b> {{clim.nombres_Cliente}} <br>
                                                <b>Apellidos:</b> {{clim.apellidoP_Cliente}} {{clim.apellidoM_Cliente}} <br>
                                                <b>Género:</b> {{clim.genero_Cliente}} <br>
                                                <b>Teléfono:</b> {{clim.telefono_Cliente}} <br>
                                                <b>Dirección:</b> {{clim.direccion_Cliente}} <br>
                                                <b>Género:</b> {{clim.genero_Cliente}} <br>
                                                <br>
                                        </label>
                                        <h4 style="font-family: 'Times New Roman', Times, serif;"><b>Datos Familiar</b></h4>
                                        <hr>
                                        <label *ngFor="let clim of clienteList2">
                                                <b>Rut:</b> {{clim.rut_Familiar}} <br>
                                                <b>Nombre:</b> {{clim.nombres_Familiar}} <br>
                                                <b>Apellidos:</b> {{clim.apellidoP_Familiar}} {{clim.apellidoM_Familiar}} <br>
                                                <b>Teléfono:</b> {{clim.telefono_Familiar}} <br>
                                        
                                        </label>
                                </div>
        
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
        
                        </div>
                </div>
        </div>
<!-- FIN MODAL DE DATOS-->