<div class="container">

        <nav aria-label="breadcrumb">

                <ol class="breadcrumb bg-white pl-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
                </ol>
        </nav>

        <hr>
        <br>
        <div class="container">
                <div class="row ">
                        <div class="input-group mb-3 col-4">
                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                        class="fas fa-filter"></i></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="searchText3"
                                        placeholder="Filtrar por nombre del Cliente" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-2"></div>
                        <div class="col-6 text-right">
                                <button type="button" class="btn btn-info"
                                        [routerLink]="['/administracion-inicio/AFormCliente']">Formulario de
                                        Ingreso</button>
                        </div>
                </div>
        </div>
        <br>

        <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-activo-tab" data-toggle="tab" href="#nav-activo"
                                role="tab" aria-controls="nav-activo" aria-selected="true">Clientes Activos</a>
                        <a class="nav-item nav-link" id="nav-inactivo-tab" data-toggle="tab" href="#nav-inactivo"
                                role="tab" aria-controls="nav-inactivo" aria-selected="false">Clientes Inactivos</a>
                </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-activo" role="tabpanel" aria-labelledby="nav-activo-tab">
                        <div class="card mb-3">
                                <div class="card-header text-center">
                                        Listado de Clientes
                                </div>
                                <div class="card-body">
                                        <div class="table-responsive">
                                                <table class="table table-hover" >
                                                        <thead class="thead-dark" style="text-align: center">
                                                                <tr>
                                                                        <th scope="col">RUN Cliente</th>
                                                                        <th scope="col">Nombres</th>
                                                                        <th scope="col">Apellidos</th>
                                                                        <th scope="col">Teléfono</th>
                                                                        <th scope="col">Dirección</th>
                                                                        <th scope="col" colspan="3">Acciones</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <ng-container
                                                                        *ngFor="let cli of clienteList2 | filter3: searchText3">
                                                                        <tr *ngIf="cli.estadoCliente==true">
                                                                                <td>{{cli.rut_Cliente}}</td>
                                                                                <td>{{cli.nombres_Cliente}}</td>
                                                                                <td>{{cli.apellidoP_Cliente}}
                                                                                        {{cli.apellidoM_Cliente}}</td>
                                                                                <td>{{cli.telefono_Cliente}}</td>
                                                                                <td>{{cli.direccion_Cliente}}</td>
                                                                                <td>
                                                                                        <button type="button"
                                                                                                class="btn btn-primary"
                                                                                                data-toggle="modal"
                                                                                                data-target="#datosCliente"
                                                                                                (click)="cargarDatosModalCliente(cli.id_Cliente)">
                                                                                                <i
                                                                                                        class="fas fa-eye"></i>
                                                                                        </button>
                                                                                </td>
                                                                                <td>
                                                                                        <button type="button"
                                                                                                name="editar"
                                                                                                [routerLink]="['/administracion-inicio/AFormCliente/',cli.id_Cliente]"
                                                                                                class="btn btn-warning">
                                                                                                <i
                                                                                                        class="fas fa-pencil-alt"></i>
                                                                                        </button>
                                                                                </td>
                                                                                <td>
                                                                                        <button type="button"
                                                                                                name="eliminar"
                                                                                                class="btn btn-danger"
                                                                                                (click)="delete(cli)">
                                                                                                <i
                                                                                                        class="fas fa-trash-alt"></i>
                                                                                        </button>
                                                                                </td>
                                                                        </tr>
                                                                </ng-container>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="nav-inactivo" role="tabpanel" aria-labelledby="nav-inactivo-tab">
                        <div class="card mb-3">
                                <div class="card-header text-center">
                                        Listado de Clientes
                                </div>
                                <div class="card-body">
                                        <div class="table-responsive">
                                                <table class="table table-hover" >
                                                        <thead class="thead-dark" style="text-align: center">
                                                                <tr>
                                                                        <th scope="col">RUN Cliente</th>
                                                                        <th scope="col">Nombres</th>
                                                                        <th scope="col">Apellidos</th>
                                                                        <th scope="col">Teléfono</th>
                                                                        <th scope="col">Dirección</th>
                                                                        <th scope="col" colspan="2">Acciones</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <ng-container
                                                                        *ngFor="let cli of clienteList2 | filter3: searchText3">
                                                                        <tr *ngIf="cli.estadoCliente==false">
                                                                                <td>{{cli.rut_Cliente}}</td>
                                                                                <td>{{cli.nombres_Cliente}}</td>
                                                                                <td>{{cli.apellidoP_Cliente}}
                                                                                        {{cli.apellidoM_Cliente}}</td>
                                                                                <td>{{cli.telefono_Cliente}}</td>
                                                                                <td>{{cli.direccion_Cliente}}</td>
                                                                                <td>
                                                                                        <button type="button"
                                                                                                class="btn btn-primary"
                                                                                                data-toggle="modal"
                                                                                                data-target="#datosCliente"
                                                                                                (click)="cargarDatosModalCliente(cli.id_Cliente)">
                                                                                                <i class="fas fa-eye"></i>
                                                                                        </button>
                                                                                </td>
                                                                                <td> 
                                                                                        <button type="button"
                                                                                                name="eliminar"
                                                                                                class="btn btn-success"
                                                                                                (click)="darAltaCliente(cli)">
                                                                                                <i class="fas fa-check-double"></i>
                                                                                        </button>
                                                                                </td>
                                                                        </tr>
                                                                </ng-container>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>


</div>


<div class="modal" id="datosCliente">
        <div class="modal-dialog">
                <div class="modal-content">


                        <div class="modal-header">
                                <h4 style="font-family: 'Times New Roman', Times, serif;" class="modal-title"><b>Ver
                                                Cliente</b></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <div class="modal-body">
                                <h4 style="font-family: 'Times New Roman', Times, serif;"><b>Datos Cliente</b></h4>
                                <hr>
                                <label>
                                        <b>RUN:</b> {{cargarRutCliente()}} <br>
                                        <b>Nombre:</b> {{cargarNombres()}} <br>
                                        <b>Apellidos:</b> {{cargarApellidos()}} <br>
                                        <b>Género:</b> {{cargarGenero()}} <br>
                                        <b>Teléfono:</b> {{cargarTelefono()}} <br>
                                        <b>Dirección:</b> {{cargarDireccion()}} <br>
                                        <br>
                                </label>
                                <h4 style="font-family: 'Times New Roman', Times, serif;"><b>Datos Familiar</b></h4>
                                <hr>
                                <label>
                                        <b>RUN:</b> {{cargarRutFam()}} <br>
                                        <b>Nombre:</b> {{cargarNombreFam()}} <br>
                                        <b>Apellidos:</b> {{cargarApellidosFam()}}<br>
                                        <b>Teléfono:</b> {{cargarTelefonoFam()}} <br>

                                </label>
                        </div>


                        <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>

                </div>
        </div>
</div>