<div class="container">

    <nav aria-label="breadcrumb">
         
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tipo de Tumbas</li>
        </ol>
    </nav>
     


     
    <div class="container">
        <div class="row ">
            <div class="input-group mb-3 col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchText8"
                    placeholder="Filtrar por Nombre de Tipo de Tumba" aria-describedby="basic-addon1">
            </div>
            <div class="col-2"></div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info"
                    [routerLink]="['/administracion-inicio/AFormularioTumba']">Formulario de Ingreso</button>
            </div>
        </div>
    </div>
     
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-activo-tab" data-toggle="tab" href="#nav-activo" role="tab"
                        aria-controls="nav-activo" aria-selected="true">Tipos de Tumba Activos</a>
                    <a class="nav-item nav-link" id="nav-inactivo-tab" data-toggle="tab" href="#nav-inactivo" role="tab"
                        aria-controls="nav-inactivo" aria-selected="false">Tipos de Tumba Inactivos</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-activo" role="tabpanel" aria-labelledby="nav-activo-tab">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        Listado de Tipos de tumbas
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                      
                            <table class="table table-hover" style="text-align: center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre Tipo de Tumba</th>
                                        <th scope="col">Capacidad </th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>                                
                                <tbody>
                                    <ng-container *ngFor="let ttb of tipotumbaList2 | filter8: searchText8 ">
                                    <tr *ngIf="ttb.estado_tipo_tumba==true" >
                                        <td>{{ttb.nombretipo_tumba}}</td>
                                        <td>{{ttb.capacidad_tipo_tumba}}</td>
                                        <td><button type="button" name="editar" [routerLink]="['/administracion-inicio/AFormularioTumba/',ttb.id_TipoTumba]"
                                                class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button>
                                            &nbsp;
                                        <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(ttb)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        </td>
                                    </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="nav-inactivo" role="tabpanel" aria-labelledby="nav-inactivo-tab">
                    <div class="card mb-3">
                        <div class="card-header text-center">
                            Listado de Tipos de tumbas
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                           
                                <table class="table table-hover" style="text-align: center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nombre Tipo de Tumba</th>
                                            <th scope="col">Capacidad </th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngFor="let ttb of tipotumbaList2 | filter8: searchText8">
                                        <tr *ngIf="ttb.estado_tipo_tumba==false">
                                            <td>{{ttb.nombretipo_tumba}}</td>
                                            <td>{{ttb.capacidad_tipo_tumba}}</td>
                                            <td><button type="button" name="editar" [routerLink]="['//administracion-inicio/AFormularioTumba',ttb.id_TipoTumba]"
                                                    class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button>
                                                &nbsp;
                                                <button type="button" name="eliminar" class="btn btn-success" (click)="cambiaEstadoTipoTumba(ttb)">
                                                    <i class="fas fa-check-double"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              

</div>