<div class="container">

    <nav aria-label="breadcrumb">
         MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Funcionarios</li>
        </ol>
    </nav>
    <hr>
    <br>
     FIN MIGAS DE PAN-->

    <div class="container">
        <div class="row ">
             SECCION PARA FILTRAR-->
            <div class="input-group mb-3 col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Filtrar por nombre del Funcionario"
                    aria-describedby="basic-addon1">
            </div>
            <div class="col-2"></div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info"
                    [routerLink]="['/administracion-inicio/AFormularioFuncionario']">Formulario de Ingreso</button>
            </div>
        </div>
    </div>
    <br>

  SECCION PARA FILTRAR
    <div class="container">
        <div class="row ">
            <div class="col-2 my-auto">
                Filtrar por nombre:
            </div>
            <div class="col-4">
                <input type="text" [(ngModel)]="searchText" placeholder="Nombre del funcionario">
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info"
                    [routerLink]="['/administracion-inicio/AFormularioFuncionario']">Formulario de Ingreso</button>
            </div>
        </div>
    </div>
-->
    <br>
    
     FIN SECCION PARA FILTRAR-->

      Seccion Activos/ Inactivos-->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-activo-tab" data-toggle="tab" href="#nav-activo" role="tab"
                aria-controls="nav-activo" aria-selected="true">Funcionarios Activos</a>
            <a class="nav-item nav-link" id="nav-inactivo-tab" data-toggle="tab" href="#nav-inactivo" role="tab"
                aria-controls="nav-inactivo" aria-selected="false">Funcionarios Inactivos</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-activo" role="tabpanel" aria-labelledby="nav-activo-tab">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Funcionarios
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                         INICIO LISTADO DE TABLA //    *ngIf="funcionarioList2.estado_funcionario==1" *ngIf="funcionarioList2.estado_funcionario==1" -->
                        <table class="table table-hover" style="text-align: center"  >
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">RUN Funcionario</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody >
                                <ng-container *ngFor="let fun of funcionarioList2 | filter: searchText">
                                    <tr *ngIf="fun.estado_funcionario==true">
                                        <td>{{fun.rut_Funcionario}}</td>
                                        <td>{{fun.nombres_Funcionario}}</td>
                                        <td>{{fun.apellidoP_Funcionario}} {{fun.apellidoM_Funcionario}}</td>
                                        <td>{{fun.cargo_Funcionario}}</td>
                                        <td>
                                            <button type="button" 
                                                    class="btn btn-primary" 
                                                    data-toggle="modal" 
                                                    data-target="#datosFuncionario"
                                                    (click)="cargarDatosModal(fun.id_funcionario)">
                                                    <i class="fas fa-eye"></i>
                                            </button>
                                            &nbsp;
                                            <button type="button" 
                                                    name="editar" 
                                                    [routerLink]="['/administracion-inicio/AFormularioFuncionario/',fun.id_funcionario]"
                                                    class="btn btn-warning">
                                                    <i class="fas fa-pencil-alt"></i></button>
                                            &nbsp;
                                            <button type="button" 
                                                    name="eliminar" 
                                                    class="btn btn-danger" 
                                                    (click)="delete(fun)">
                                                    <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-inactivo" role="tabpanel" aria-labelledby="nav-inactivo-tab">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Funcionarios
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                         INICIO LISTADO DE TABLA ///    *ngIf="funcionarioList2.estado_funcionario==false" -->
                        <table class="table table-hover" style="text-align: center"  >
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">RUN Funcionario</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let fun of funcionarioList2 | filter: searchText">
                                    <tr *ngIf="fun.estado_funcionario==false">
                                        <td>{{fun.rut_Funcionario}}</td>
                                        <td>{{fun.nombres_Funcionario}}</td>
                                        <td>{{fun.apellidoP_Funcionario}} {{fun.apellidoM_Funcionario}}</td>
                                        <td>{{fun.cargo_Funcionario}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#datosFuncionario"
                                                (click)="cargarDatosModal(fun.id_funcionario)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            &nbsp;
                                            <button type="button" name="editar" [routerLink]="['/administracion-inicio/AFormularioFuncionario/',fun.id_funcionario]"
                                                class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button>
                                            &nbsp;
                                            <button type="button" name="eliminar" class="btn btn-success" (click)="darAlta(fun)">
                                                    <i class="fas fa-check-double"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
      Fin Seccion Activos/ Inactivos-->

    

</div>

  MODAL DE DATOS-->
  The Modal -->
<div class="modal" id="datosFuncionario">
    <div class="modal-dialog">
        <div class="modal-content">

              Modal Header -->
            <div class="modal-header">
                <h4 style="font-family: 'Times New Roman', Times, serif;" class="modal-title"><b>Ver Funcionario</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

              Modal body -->
            <div class="modal-body">
                 <label >
                    <b>RUN:</b> {{cargarRut()}} <br>
                    <b>Nombre:</b> {{cargarNombre()}} <br>
                    <b>Apellidos:</b> {{cargarApellidos()}} <br>
                    <b>Cargo:</b> {{cargarCargo()}}  <br>
                    <b>Género:</b> {{cargarGenero()}} <br>
                    <br>
                </label>
            </div>

              Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
  FIN MODAL DE DATOS-->