<div class="container">
    <legend style="font-style: oblique"><b> Formulario Venta Derecho</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formVenta" (ngSubmit)="createVenta()" novalidate>
         
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Cliente</h4>
            </div>
            &nbsp;

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label> Rut Cliente</label>
                        <input type="number" class="form-control" id="rutCliente" placeholder="Ingrese rut Cliente">
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <label style="color: white"> _____________</label>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-info "> Buscar </button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center">
                <button [routerLink]="['/administracion-inicio/AVentas']" type="submit" class="btn btn-danger"> Cancelar
                </button>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-success"> Guardar </button>
            </div>
            <br>



        </form>
        <br>


    </div>
</div>