<div class="container">
    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Reportes</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->
    <div class="col">
        <hr>
        <div class="album py-5 z-depth-1" align="center">
            <div>
                <i><b>
                        <h2>Reportes de Cementerio de Pinto</h2>
                    </b></i>
                <br>
                <b>
                    <p>Por rango de fechas</p>
                </b>
                <div style="display: inline-flex;margin-bottom: 10px;">

                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group" style="padding-right: 40px;">
                                <h4 style="margin: 0px;">Desde: </h4>&nbsp;
                                <input class="form-control" type="date" placeholder="yyyy-mm-dd" name="dp"
                                    [(ngModel)]="model">

                            </div>
                            <div class="input-group">
                                <h4 style="margin: 0px;">Hasta: </h4>&nbsp;
                                <input class="form-control" type="date" placeholder="yyyy-mm-dd" name="dp"
                                    [(ngModel)]="model2">

                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
                <div align="right" style="padding-right: 40px;">
                    <button type="button" class="btn btn-info" (click)="generarReporte()">Generar Reporte</button>&nbsp;
                    <button (click)="generarPDF()" [disabled]="!show" class="btn btn-info">Crear PDF</button>
                </div>

                <br>
                <hr>

                <div class="container" id="contenido" #contenido>
                    <div>
                        <h2>Reporte de ventas</h2>
                        <br>
                        <p><b>Gráfico de servicios solicitados</b></p>
                        <div class="row">
                            <div class="col-12">
                                <div id="chartdiv3" style="width: 90%;height: 170px;" class="graph"></div>
                            </div>                      
                        </div>
                        <div class="row">
      <div>
                                <br><br>
                                <h2>Detalle Grafico</h2>
                                <p style="padding-left: 40px;">A continuación se muestra la cantidad de contratos
                                    realizados por mes</p>
                            </div>
                            <br>
                            <div class="container">
                                <div>
                                    <table class="table table-hover" style="text-align: center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Enero</th>
                                                <th scope="col">Febrero</th>
                                                <th scope="col">Marzo</th>
                                                <th scope="col">Abril</th>
                                                <th scope="col">Mayo</th>
                                                <th scope="col">Junio</th>
                                                <th scope="col">Julio</th>
                                                <th scope="col">Agosto</th>
                                                <th scope="col">Septiembre</th>
                                                <th scope="col">octubre</th>
                                                <th scope="col">Noviembre</th>
                                                <th scope="col">Diciembre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td>{{contEnero}}</td>
                                            <td>{{contFebrero}}</td>
                                            <td>{{contMarzo}}</td>
                                            <td>{{contAbril}}</td>
                                            <td>{{contMayo}}</td>
                                            <td>{{contJunio}}</td>
                                            <td>{{contJulio}}</td>
                                            <td>{{contAgosto}}</td>
                                            <td>{{contSeptiembre}}</td>
                                            <td>{{contOctubre}}</td>
                                            <td>{{contNoviembre}}</td>
                                            <td>{{contDiciembre}}</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>