<div class="container">
    <legend>Formulario inscripción Patio Nuevo</legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formPatio" (ngSubmit)="createPatio()" novalidate>
            <div class="separacion">
                <h4> &nbsp; Datos principales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombre</label>
                        <input formControlName="nombre_Patio" type="text" class="form-control" id="nombrePatio"
                            placeholder="Ingrese un nombre para el patio">
                    </div>
                    <div class="col">
                        <label>Capacidad Patio</label>
                        <input formControlName="capacidad_Patio" type="number" class="form-control" id="capacidadPatio"
                            placeholder="Ingrese la capacidad del patio">
                    </div>
                    <div class="col-2">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <label for="exampleFormControlSelect1">Terreno</label>
                        <select formControlName="terreno" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected disabled>Seleccione Terreno </option>
                            <option *ngFor="let c of terrenoList" [ngValue]="c">{{c.nombre_Terreno}}</option>
                            
                        </select>
                    </div>
                    
                    <div class="col-2">
                        <label></label>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <button [routerLink]="['/administracion-inicio/APatio']" type="submit" class="btn btn-danger">
                    Cancelar </button>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-success"> Guardar </button>
            </div>

        </form>
        
    </div>
</div>