<div class="container">
    <!--MIGAS DE PAN-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/AFormularioPatio']" href="#" (click)="cancelarPatio()">Patios</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Patios</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend>Formulario de inscripción nuevo Patio </legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formPatio"  novalidate> <!--(ngSubmit)="createPatio()"-->
            <div class="separacion">
                <h4> &nbsp; Datos principales</h4>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombre</label>
                        <input formControlName="nombre_Patio" [(ngModel)]="patioParams.nombre_Patio"  type="text" class="form-control" id="nombrePatio"
                            placeholder="Ingrese un nombre para el patio">
                    </div>
                    <div class="col">
                        <label>Capacidad Patio</label>
                        <input formControlName="capacidad_Patio"  [(ngModel)]="patioParams.capacidad_Patio" type="number" class="form-control" id="capacidadPatio"
                            placeholder="Ingrese la capacidad del patio">
                    </div>
                    <div class="col-2">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <label for="exampleFormControlSelect1">Terreno</label>
                        <select formControlName="terreno" [(ngModel)]="patioParams.terreno" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected disabled>Seleccione Terreno </option>
                            <option *ngFor="let c of terrenoList" [ngValue]="c">{{c.nombre_Terreno}}</option>
                            
                        </select>
                    </div>
                    
                    <div class="col-2">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col">
                            <button (click)="cancelarPatio()" class="btn btn-danger"  >
                                    Cancelar </button>
                    </div>
                    <div class="col" >
                        <button type="submit" [disabled]="!formPatio.valid" (click)='createPatio()' class="btn btn-primary"
                            *ngIf="!patioParams.id_Patio else elseBlock">Guardar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                        </ng-template>
                    </div>
            </div>

        </form>
        
    </div>
</div>

