<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->

<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5><b><i>Terrenos Ocupados</i></b></h5>
      <div class="row">
        <div class="col-sm" align="center">
          <button type="button" class="btn btn-outline-primary"
            [routerLink]="['/administracion-inicio/ATerrenosLibres']">Libres</button>
        </div>
        <div class="col-sm">
          <button [disabled]="true" type="button" class="btn btn-outline-primary"
            routerLink="/administracion-inicio/ATerrenosOcupados">Ocupados</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-primary"
            routerLink="/administracion-inicio/ATerrenosReservados">Reservado</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <legend>Detalle Terreno</legend>
    <hr><br>
    <table class="table">
      <thead class="thead-dark table-bordered  ">
        <tr>
          <th style="width:300px;" scope="col">Nombre</th>
          <td> {{nombre()}}</td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row"> Fecha Defunción</th>
          <td>{{fd()}} </td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row"> Patio</th>
          <td>{{nTerreno()}} </td>
        </tr>
        <tr>
          <th style="width:300px;" scope="row"> Número Tumba</th>
          <td>{{nTumba()}} </td>
        </tr>
      </thead>
    </table>
    <!-- <ul>
            <li type="circle">Nombre: {{nombre()}}</li>
            <li type="circle">Fecha Defunción: {{fd()}}</li>
    
          </ul>-->
  </div>
  <div class="row">
    <div class="col">
      <div style="text-align: left;">
        <div class="container">
          <img class="rosa" src="../assets/img/rosaPNG.png" alt="" height="150px" width="150px">
          <img src="../assets/img/cementerio2.jpg" alt="" width="910px" height="845px">
         
          <!-- Patio A-->
          <div *ngFor="let person of peopleA; let i = index">
            <div data-toggle="tooltip" data-placement="top" title="Patio A, Número {{person.numero_Tumba}}">
              <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
                [id]="'a' + person.patio.id_Patio" [ngClass]="'a'+ person.numero_Tumba">
            </div>
          </div>
          <!-- Fin Patio A-->
        <!-- Patio B-->
        <div *ngFor="let personB of peopleB; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio B, Número {{personB.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'b' + personB.patio.id_Patio" [ngClass]="'b'+ personB.numero_Tumba">
          </div>
        </div>
        <!--Fin Patio B-->
        
        <!-- Patio C-->
        <div *ngFor="let personC of peopleC; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio C, Número {{personC.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'c' + personC.patio.id_Patio" [ngClass]="'c'+ personC.numero_Tumba">
          </div>
        </div>
        <!--Fin Patio C-->
        
        <!-- Patio D-->
        <div *ngFor="let personD of peopleD; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio D, Número {{personD.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'d' + personD.patio.id_Patio" [ngClass]="'d'+ personD.numero_Tumba">
          </div>
        </div>
        <!-- Fin Patio D-->
        
        <!-- Patio E-->
        <div *ngFor="let personE of peopleE; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio E, Número {{personE.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'e' + personE.patio.id_Patio" [ngClass]="'e'+ personE.numero_Tumba">
          </div>
        </div>
        <!-- fin patio E-->
        <!-- Patio F-->
        <div *ngFor="let personF of peopleF; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio F, Número {{personF.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'f' + personF.patio.id_Patio" [ngClass]="'f'+ personF.numero_Tumba">
        
          </div>
        </div>
        <!-- fin patio F-->
        <!-- Patio G-->
        <div *ngFor="let personG of peopleG; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio G, Número {{personG.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'g' + personG.patio.id_Patio" [ngClass]="'g'+ personG.numero_Tumba">
          </div>
        </div>
        <!-- fin patio G-->
        
        <!-- Patio H-->
        <div *ngFor="let personH of peopleH; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio H, Número {{personH.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'h' + personH.patio.id_Patio" [ngClass]="'h'+ personH.numero_Tumba">
          </div>
        </div>
        <!-- fin patio H-->
        <!-- Patio i-->
        <div *ngFor="let personI of peopleI; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio I, Número {{personI.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'I' + personI.patio.id_Patio" [ngClass]="'I'+ personI.numero_Tumba">
          </div>
        </div>
        <!-- fin patio I-->
        
        <!-- Patio J-->
        <div *ngFor="let personJ of peopleJ; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio J, Número {{personJ.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'j' + personJ.patio.id_Patio" [ngClass]="'j'+ personJ.numero_Tumba">
          </div>
        </div>
        <!-- fin patio J-->
        
        <!-- Patio K-->
        <div *ngFor="let personK of peopleK; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio K, Número {{personK.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'k' + personK.patio.id_Patio" [ngClass]="'k'+ personK.numero_Tumba">
          </div>
        </div>
        <!-- fin patio K-->
        <!-- Patio L-->
        <div *ngFor="let personL of peopleL; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Patio L, Número {{personL.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 10px; height: 7px;"
              [id]="'l' + personL.patio.id_Patio" [ngClass]="'l'+ personL.numero_Tumba">
          </div>
        </div>
        <!-- fin patio L-->
        
        <!-- Mausoleo A-->
        <div *ngFor="let mauA of MausoleoA; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Mausoleo A, Número {{mauA.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;"
              [id]="'mA' + mauA.patio.id_Patio" [ngClass]="'mA'+ mauA.numero_Tumba">
          </div>
        </div>
        <!-- Fin Mausoleo A-->
        
        <!-- Mausoleo B-->
        <div *ngFor="let mauB of MausoleoB; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Mausoleo B, Número {{mauB.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;"
              [id]="'mB' + mauB.patio.id_Patio" [ngClass]="'mB'+ mauB.numero_Tumba">
          </div>
        </div>
        <!-- Fin Mausoleo B-->
        
        <!-- Mausoleo C-->
        <div *ngFor="let mauC of MausoleoC; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Mausoleo C, Número {{mauC.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;"
              [id]="'mC' + mauC.patio.id_Patio" [ngClass]="'mC'+ mauC.numero_Tumba">
          </div>
        </div>
        <!-- Fin Mausoleo C-->
        
        <!-- Mausoleo D-->
        <div *ngFor="let mauD of MausoleoD; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Mausoleo D, Número {{mauD.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 12px; height: 17px;"
              [id]="'mD' + mauD.patio.id_Patio" [ngClass]="'mD'+ mauD.numero_Tumba">
          </div>
        </div>
        <!-- Fin Mausoleo D-->
        
        <!-- Nichos A-->
        <div *ngFor="let niA of NichoA; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Lote Nicho A, Número {{niA.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 8px; height: 3px;"
              [id]="'nA' + niA.patio.id_Patio" [ngClass]="'nA'+ niA.numero_Tumba">
          </div>
        </div>
        <!-- Fin Nichos A-->
        
        <!-- Nichos B-->
        <div *ngFor="let niB of NichoA; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Lote Nicho B, Número {{niB.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 8px; height: 3px;"
              [id]="'nB' + niB.patio.id_Patio" [ngClass]="'nB'+ niB.numero_Tumba">
          </div>
        </div>
        <!-- Fin Nichos B-->
        
        <!-- Nichos C-->
        <div *ngFor="let niC of NichoC; let i = index">
          <div data-toggle="tooltip" data-placement="top" title="Lote Nicho C, Número {{niC.numero_Tumba}}">
            <img src="../../../../../assets/img/parapintar.png" alt="" style="width: 8px; height: 3px;"
              [id]="'nC' + niC.patio.id_Patio" [ngClass]="'nC'+ niC.numero_Tumba">
          </div>
        </div>
        <!-- Fin Nichos C-->
        </div>
      </div>
    </div>

  </div>
</div><br>