<div class="container">
    <legend style="font-style: oblique"><b> Formulario Venta Derecho</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form [formGroup]="formTumba">
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Compra</h4>
            </div>
            &nbsp;

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label> Nombre de Funcionario</label>
                        <select formControlName="funcionario" class="form-control" id="funcionario">
                            <option value="" selected disabled>Seleccione nombre funcionario </option>
                            <option *ngFor="let f of funcionarioList" [ngValue]="f">{{f.nombres_Funcionario}}</option>
                    
                        </select>
                    </div>
                    <div class="col">
                        <label for="fechaNacimientoDifunto"> Fecha Ingreso de venta</label>
                        <input class="form-control" type="date">
                    </div>

                  <!--  <div class="col">
                        <label> Cementerio</label>
                        <select formControlName="cementerio" class="form-control" id="cementerio1">
                            <option value="" selected disabled>Seleccione Cementerio </option>
                            <option *ngFor="let c of cementerioList" [ngValue]="c">{{c.nombre_Cementerio}}</option>
                        
                        </select>
                    </div>-->
                   

                </div>
            </div>



            <div class="form-group">
                <div class="row">

                    <div class="col-4">
                        <label> Tipo de Tumba</label>
                        <select formControlName="tipo_Tumba" class="form-control" id="tipoTumba">
                            <option value="" selected disabled>Seleccione tipo de tumba </option>
                            <option *ngFor="let t of tipoTumbaList" [ngValue]="t">{{t.nombre_tipo_tumba}}</option>
                        
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <label style="color: white"> _____________</label>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-info "> Cargar </button>
                        </div>
                    </div>
                    <div class="col-3">
                        <label> Ancho</label>
                        <input formControlName="ancho" type="number" class="form-control" id="anchoTumba" 
                        placeholder="Ancho cargado">
                    </div>
                    
                    <div class="col-3">
                        <label> Largo</label>
                        <input formControlName="largo" type="number" class="form-control" id="largoTumba" 
                        placeholder="Largo cargado">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label> Nombre de Patio</label>
                        <select formControlName="patio" class="form-control" id="patio">
                            <option value="" selected disabled>Seleccione Patio </option>
                            <option *ngFor="let c of patioList" [ngValue]="c">{{c.nombre_Patio}}</option>
                        
                        </select>
                    </div>
                    
                    <div class="col">
                        <label> Número de Tumba</label>
                        <input formControlName="numero_Tumba" type="number" class="form-control" id="numero_Tumba" 
                        placeholder="12">
                        <!-- Agregar validacion con numeros solo con estado cero -->
                    </div>
                    <div class="col">
                        <label> Orientación</label>
                        <select formControlName="orientacion_Tumba" class="form-control" id="orientacion_Tumba">
                            <option value="" selected disabled>Seleccione la orientación </option>
                            <option>Este - Oeste</option>
                            <option>Oeste - Este</option>
                            <option>Norte - Sur</option>
                            <option>Sur - Norte</option>
                        </select>
                        <!-- Agregar validacion con numeros solo con estado cero -->
                        
                    </div>
                    <div class="col" aling="left">
                        <label> Valor Terreno</label>
                        <input formControlName="valor_Tumba" type="number" class="form-control" id="valor_Tumba" placeholder="Ingrese el valor del terreno">
                    </div>
                </div>
                
            </div>



            <div style="text-align: center">
                <button [routerLink]="['/administracion-inicio/AVentas']" class="btn btn-danger"> Cancelar
                </button>
                &nbsp;&nbsp;
                <button [routerLink]="['/administracion-inicio/formularioVenta2']" (click)="guardarStorage()" class="btn btn-success"> Siguiente </button>
            </div>
            <br>



        </form>
        <br>
       

    </div>
</div>