
<div class="wrapper">

    <nav id="sidebar" [ngClass]="{'mostrar-sidebar': !mostrarSidebar}">
      <div class="sidebar-header" align="center">
          <br>
        <img src="assets/img/LogoParroquia2.png" height=120px width=120px alt=""><br><br>
        <p class="titulo-menu" align="center" style="color: white">Cementerio de Pinto</p>
      </div>
      <ul class="list-unstyled components">
       <li><a [routerLink]="['/personal-inicio']"><i class="fas fa-home"></i> <span>Inicio</span> </a></li>
       <li class="nav-item">
        <a class="nav-link" routerLink="reduccion"><i class="fab fa-pagelines"></i> Reducción</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="VentaDerecho"><i class="fas fa-handshake"></i> Realizar Venta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="mapaTerrenos"><i class="fas fa-map colorFig"></i> Mapa de Terrenos</a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" routerLink="difuntos"> <i class="fas fa-cross  colorFig"></i>Difuntos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="clientes"> <i class="fas fa-user-friends  colorFig"></i>Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/personal"><span class="fas fa-sign-in-alt"></span> Cerrar Sesión</a>
    </li>

      </ul>
      
      
    </nav>
    
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      
       <button type="button" (click)="ocultarSidebar()" id="sidebarCollapse" class="btn btn-info btn-menu">
         <i class="fa fa-align-justify"></i> 
       </button>
       
        <a class="navbar-brand" href="#">Navbar</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
           
           <li class="nav-item">
            
               <a [routerLink]="['perfil']" style="color:white">Perfil <i class="fas fa-user-alt"></i></a>
               
           </li>
         </ul>
       </div>

     </nav>
     
     <div class="container-fluid">
         <router-outlet></router-outlet>
     </div>
     
     
    </div>
      
 </div>
     
