<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img src="../assets/img/logo.png" height=40px width=40px alt="">&nbsp;&nbsp;
        <a class="navbar-brand" href="#" routerLink="/personal-inicio">Cementerio de Pinto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="mapaTerrenos">Mapa de Terrenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="terrenos">Terrenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="occisos">Occisos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personal"><span class="fas fa-sign-in-alt"></span> Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>