.contenedor{
    width: 552px;
    height:848px ;
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.a0{
    position: absolute;
    top: 10%;
    left: 37.5%;
    font-size: 12px;
    font-weight: bold;

}
.a1{
    position: absolute;   
    top: 9%;
    left: 44%;
    font-size: 12px;
    font-weight: bold;

}
.a2{
    position: absolute;
    top: 9%;
    left: 52%;
    font-size: 12px;
    font-weight: bold;
}
.a3{
   position: absolute;
    top: 21%;
    left: 28%;
    font-size: 12px;
    font-weight: bold;
}
.a4{
    position: absolute;
    top: 20%;
    left: 37%;
    font-size: 12px;
    font-weight: bold;
 }
 .a5{
    position: absolute;
     top: 20%;
     left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 .a6{
    position: absolute;
     top: 20%;
     left: 51.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .a7{
    position: absolute;
     top: 30%;
     left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .a8{
    position: absolute;
     top: 30%;
     left: 28%;
     font-size: 12px;
     font-weight: bold;
 }
 .a9{
    position: absolute;
     top: 30%;
     left: 37%;
     font-size: 12px;
     font-weight: bold;
 }
 .a10{
    position: absolute;
    top: 30%;
         left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 .a11{
    position: absolute;
    top: 30%;
         left: 52%;
     font-size: 12px;
     font-weight: bold;
 }
 .a12{
    position: absolute;
    top: 40%;
    left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .a13{
    position: absolute;
    top: 40%;     
    left: 28%;
     font-size: 12px;
     font-weight: bold;
 }
 .a14{
    position: absolute;
    top: 40%;     
    left: 37%;
     font-size: 12px;
     font-weight: bold;
 }
 .a15{
    position: absolute;
    top: 40%;     
    left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 /* Patio B*/
 .b0{
    position: absolute;
     top: 52%;
     left: 14%;
     font-size: 12px;
     font-weight: bold;
 }
 .b1{
    position: absolute;
     top: 52%;
     left: 20%;
     font-size: 12px;
     font-weight: bold;
 }
 .b2{
    position: absolute;
     top: 52%;
     left: 27%;
     font-size: 12px;
     font-weight: bold;
 }
 .b3{
    position: absolute;
     top: 59%;
     left: 13%;
     font-size: 12px;
     font-weight: bold;
 }
 .b4{
    position: absolute;
     top: 57%;
     left: 16.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .b5{
    position: absolute;
     top: 59%;
     left: 21.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .b6{
    position: absolute;
     top: 61%;
     left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .b7{
    position: absolute;
     top: 57%;
     left: 25.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .b8{
    position: absolute;
     top: 61%;
     left: 27%;
     font-size: 12px;
     font-weight: bold;
 }
 .b9{
    position: absolute;
     top: 60%;
     left: 30.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .b10{
    position: absolute;
     top: 67%;
     left: 15%;
     font-size: 12px;
     font-weight: bold;
 }
 .b11{
    position: absolute;
     top: 67%;
     left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .b12{
    position: absolute;
     top: 67%;
     left: 21.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .b13{
    position: absolute;
     top: 67%;
     left: 26%;
     font-size: 12px;
     font-weight: bold;
 }
 .b14{
    position: absolute;
     top: 67%;
     left: 31%;
     font-size: 12px;
     font-weight: bold;
 }

  /* Patio C*/
  .c0{
    position: absolute;
     top: 52%;
     left: 33%;
     font-size: 12px;
     font-weight: bold;
 }
 .c1{
    position: absolute;
     top: 52%;
     left: 39.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c2{
    position: absolute;
     top: 52%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c3{
    position: absolute;
     top: 60%;
     left: 34.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c4{
    position: absolute;
     top: 60%;
     left: 40%;
     font-size: 12px;
     font-weight: bold;
 }
 .c5{
    position: absolute;
     top: 57.5%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
.c6{
    position: absolute;
     top: 62.5%;
     left: 45.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .c7{
    position: absolute;
     top: 67%;
     left: 36%;
     font-size: 12px;
     font-weight: bold;
 }
 .c8{
    position: absolute;
     top: 67%;
     left: 40.5%;
     font-size: 12px;
     font-weight: bold;
 }
  .c9{
    position: absolute;
     top: 68%;
     left: 45%;
     font-size: 12px;
     font-weight: bold;
 }