.contenedor{
    width: 552px;
    height:848px ;
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.a0{
    position: absolute;
    top: 9%;
    left: 38%;
    font-size: 15px;
}
.a1{
    position: absolute;   
    top: 9%;
    left: 45%;
    font-size: 15px;
}
.a2{
    position: absolute;
    top: 13%;
    left: 55%;
    font-size: 12px;
    font-weight: bold;
}
.a3{
   position: absolute;
    top: 13%;
    left: 33%;
    font-size: 12px;
    font-weight: bold;
}
.a4{
    position: absolute;
     top: 13%;
     left: 32%;
     font-size: 12px;
     font-weight: bold;
 }
 .a5{
    position: absolute;
     top: 13%;
     left: 68%;
     font-size: 12px;
     font-weight: bold;
 }
 .a7{
    position: absolute;
     top: 19.5%;
     left: 33%;
     font-size: 12px;
     font-weight: bold;
 }
 .a8{
    position: absolute;
     top: 19.5%;
     left: 30%;
     font-size: 12px;
     font-weight: bold;
 }
 .a9{
    position: absolute;
     top: 19.5%;
     left: 70%;
     font-size: 12px;
     font-weight: bold;
 }
 .a10{
    position: absolute;
     top: 27%;
     left: 10%;
     font-size: 12px;
     font-weight: bold;
 }
 .a11{
    position: absolute;
     top: 27%;
     left: 35%;
     font-size: 12px;
     font-weight: bold;
 }
 .a12{
    position: absolute;
     top: 27%;
     left: 77%;
     font-size: 12px;
     font-weight: bold;
 }
 .a13{
    position: absolute;
     top: 27%;
     left: 77%;
     font-size: 12px;
     font-weight: bold;
 }
 .a14{
    position: absolute;
     top: 27%;
     left: 77%;
     font-size: 12px;
     font-weight: bold;
 }
 .a15{
    position: absolute;
     top: 27%;
     left: 77%;
     font-size: 12px;
     font-weight: bold;
 }
 .a16{
    position: absolute;
     top: 27%;
     left: 77%;
     font-size: 12px;
     font-weight: bold;
 }