<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm" align="center">
      <button type="button" class="btn btn-outline-primary">Libres</button>
    </div>
    <div class="col-sm">

      <button type="button" class="btn btn-outline-primary">Ocupados</button>
    </div>
  </div><br>
  <div class="row">
    <div class="col-8">
      <div align="left">
        <div class="container">
          <img src="../assets/img/mapa3.jpg" alt="" width="90%" height="80%">
          <!--cambiar el ng for por el de la query -->
          <div *ngFor="let person of peopleA; let i = index">
            <div *ngIf=" i+1 == person.id_tumba; else notShow">
              <div id="a{{i+1}}" [ngClass]="'a'+ i">
                <a (click)="guardarID(i)">
                  <i class="fas fa-map-marker-alt fa-2x" style="color: red "></i>
                </a>
              </div>
            </div>
            <ng-template #notShow>
              <div id="a{{i+1}}" [ngClass]="'a'+ i">
                <a (click)="guardarID(i)"></a>
              </div>
            </ng-template>
            <!--donde esta el show image en el src de la imagen cambiar condicion por si estado de la tumba es ocupado-->
        </div>

        <!-- Patio B-->
        <div *ngFor="let personB of peopleB; let i = index">
          <div *ngIf=" i+1 == personB.id_tumba; else notShow">
                    
            <div id="b{{i+1}}" [ngClass]="'b'+ i">
              <a (click)="guardarID(i)">
                <i class="fas fa-map-marker-alt fa-2x" style="color: blue "></i>
              </a>
            </div>
        
          </div>
          <ng-template #notShow>
            <div id="b{{i+1}}" [ngClass]="'b'+ i">
              <a (click)="guardarID(i)"></a>
            </div>
          </ng-template>
        </div>


      </div>
    </div>
  </div>
    <div class="col-4">
      <ul>
        <li type="circle">Nombre: {{nombre()}}</li>
        <li type="circle">Fecha Defunción: {{fd()}}</li>

      </ul>
    </div>
  </div>
</div><br>


<div id="modal1" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nombre:{{nombre()}}</p>
        <p>Fecha Defunción: {{fd()}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- modal vacio -->
<div id="modal2" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Disponibilidad del Terreno: Libre</p>
        <p>Orientación: Oriente a Poniente</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>