.contenedor{
    width: 552px;
    height:848px ;
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.a0{
    position: absolute;
    top: 10%;
    left: 37.5%;
    font-size: 12px;
    font-weight: bold;

}
.a1{
    position: absolute;   
    top: 9%;
    left: 44%;
    font-size: 12px;
    font-weight: bold;

}
.a2{
    position: absolute;
    top: 9%;
    left: 52%;
    font-size: 12px;
    font-weight: bold;
}
.a3{
   position: absolute;
    top: 21%;
    left: 28%;
    font-size: 12px;
    font-weight: bold;
}
.a4{
    position: absolute;
    top: 20%;
    left: 37%;
    font-size: 12px;
    font-weight: bold;
 }
 .a5{
    position: absolute;
     top: 20%;
     left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 .a6{
    position: absolute;
     top: 20%;
     left: 51.5%;
     font-size: 12px;
     font-weight: bold;
 }
 .a7{
    position: absolute;
     top: 30%;
     left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .a8{
    position: absolute;
     top: 30%;
     left: 28%;
     font-size: 12px;
     font-weight: bold;
 }
 .a9{
    position: absolute;
     top: 30%;
     left: 37%;
     font-size: 12px;
     font-weight: bold;
 }
 .a10{
    position: absolute;
    top: 30%;
         left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 .a11{
    position: absolute;
    top: 30%;
         left: 52%;
     font-size: 12px;
     font-weight: bold;
 }
 .a12{
    position: absolute;
    top: 40%;
    left: 18%;
     font-size: 12px;
     font-weight: bold;
 }
 .a13{
    position: absolute;
    top: 40%;     
    left: 28%;
     font-size: 12px;
     font-weight: bold;
 }
 .a14{
    position: absolute;
    top: 40%;     
    left: 37%;
     font-size: 12px;
     font-weight: bold;
 }
 .a15{
    position: absolute;
    top: 40%;     
    left: 44%;
     font-size: 12px;
     font-weight: bold;
 }
 