<div class="container">
    <br><br>
    <div class="card">
      <div class="card-body">
        <h3>Detalle Cuotas</h3>
        <table class="table">
          <tbody><!--agregar ngfor con datos del backend-->
              <tr>
                <th>Nombre</th>
                  <td>Carla</td>
              </tr>
              <tr>
                <th>Apellido</th>
                  <td>Castillo</td>
              </tr>
              <tr>
                  <th>N°Cuotas</th>
                  <td>6</td>
              </tr>
              <tr>
                  <th>Cuotas pagadas</th>
                  <td>4</td>
              </tr>
              <tr>
                <th>Ultima Cuota</th>
                  <td>15/06/2019</td>
              </tr>
            <tr>
                <th>Próximo pago</th>
                <td>15/07/2019</td>
            </tr>
          </tbody>
        </table>
        <div align="right">
            <button class="btn btn-warning"type="" role="button"[routerLink]="['/inicio']">Volver</button>
        </div>    
    </div>
    </div>
    <br><br>
    