<!--
 <label for="" class="col-sm-6"> funcionarioList</label> &nbsp;
                        

-->

<div class="container">

    <!--MIGAS DE PAN-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio/formularioVenta']"
                    (click)="cancelarVenta()" href="#">Ventas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario Ventas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->

    <legend style="font-style: oblique"><b> Formulario Venta Derecho</b> </legend>
    <hr style="color: black">
    <div class="container">
        <form novalidate>
            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Compra</h4>
            </div>
            &nbsp;

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label> Nombre Funcionario</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{contrato2.funcionario.nombres_Funcionario}} {{contrato2.funcionario.apellidoP_Funcionario}}'>
                    </div>
                    <div class="col">
                        <label for="fecha_Ingreso_Venta"> Fecha Ingreso de venta</label>
                        <input [disabled]="true" id="fecha_Ingreso_Venta" class="form-control" type="date"
                            name="fecha_Ingreso_Venta" [(ngModel)]="contrato2.fecha_Ingreso_Venta">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label> Cementerio</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{contrato2.cementerio.nombre_Cementerio}}'>
                    </div>
                    <div class="col">
                        <label> Terreno</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{contrato2.terreno.nombre_Terreno}}'>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label> Nombre de Patio</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{contrato2.patio.nombre_Patio}}'>
                    </div>

                    <div class="col">
                        <label> Tipo de Tumba</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{contrato2.tipoTumba.nombretipo_tumba}}'>
                    </div>

                    <div class="col">

                        <label> Número de Tumba </label>&nbsp;<label *ngIf="doble">1</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{tumba1.numero_Tumba}}'>
                        <!-- Agregar validacion con numeros solo con estado cero (change)="fun(contrato2.patio.id_Patio)"-->
                    </div>

                    <div class="col" *ngIf="doble">

                        <label> Número de Tumba </label>&nbsp;<label *ngIf="doble">2</label>
                        <input type="text" class="form-control" [disabled]="true" name="" id=""
                            value='{{tumba2.numero_Tumba}}'>
                        <!-- Agregar validacion con numeros solo con estado cero -->
                    </div>




                </div>
            </div>
            <div class="form-group">
                <div class="row">




                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos Cliente</h4>
            </div>
            &nbsp;

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label> Rut Cliente</label>
                        <select class="form-control" id="cliente1" name="cliente" [(ngModel)]="contrato2.cliente"
                            (change)="mostrarClientes()">
                            <option [ngValue]="0" disabled selected>Seleccione cliente </option>
                            <option *ngFor="let x of clienteList" [ngValue]="x">{{x.rut_Cliente}}</option>
                        </select>
                    </div>
                    <div class="col-6" *ngIf="mostrarCliente">
                        <label> Nombre Cliente</label>
                        <input [disabled]="true" class="form-control" type="text" for=""
                            value="{{contrato2.cliente.nombres_Cliente}} {{contrato2.cliente.apellidoP_Cliente}} {{contrato2.cliente.apellidoM_Cliente}}">
                        <!--
                                            <div class="row" *ngIf="mostrarCliente">
                                                <label for="">Nombre Cliente:  {{contrato2.cliente.nombres_Cliente}} {{contrato2.cliente.apellidoP_Cliente}} {{contrato2.cliente.apellidoM_Cliente}}</label>
                                            </div>-->
                    </div>
                </div>
            </div>

            <div class="separacion" style="text-align: center">
                <h4> &nbsp; Datos de Pago</h4>
            </div>
            &nbsp;

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlSelect1"> Medio de Pago</label>

                        <select class="form-control" id="medioPago" name="medio_Pago"
                        [(ngModel)]="contrato2.medio_Pago">
                        <option [ngValue]="0" disabled selected>Seleccione medio de pago </option>
                        <option> Efectivo</option>
                        <option> Debito</option>
                        <option> Crédito</option>
                    </select>
                        <!-- Agregar validacion con numeros solo con estado cero -->
                    </div>
                    <div class="col">
                        <label> Valor Terreno</label>
                        <input [disabled]="true" type="number" class="form-control" id="valorDerecho"
                            name="valor_Terreno" placeholder="Ingrese el valor del derecho"
                            [(ngModel)]="contrato2.valor_Terreno">
                    </div>

                    <div class="col">
                        <label> Pago inicial</label>
                        <input [disabled]="true" type="number" class="form-control" id="valorPagoInicial" name="pagoInicial"
                            placeholder="Ingrese el valor del pago inicial" [(ngModel)]="contrato2.pagoInicial">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label> Número de Cuotas</label>
                        <input [disabled]="true" type="number" class="form-control" id="nroCuotas" name="nCuotas"
                            placeholder="Ingrese número de cuotas" [(ngModel)]="contrato2.n_Cuotas"
                            (change)="mostrarCuotas()">
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <label style="color: white"> _____________</label>
                        </div>
                        <div class="row" *ngIf="mostrarCuota">
                            <label for="">{{calcularValorCuota()}}</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <label> Valor Cuota:</label>
                        <div>
                            <h1>{{contrato2.vcuotas}}</h1>
                        </div>


                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label> Dia para fecha de pago</label>
                        <input [disabled]="true" type="date" class="form-control" id="fechaPago" name="fecha_Pago"
                            data-format="yyyy-MM-dd" data-template="D MMM YYYY" placeholder="Ingrese el dia de pago"
                            [(ngModel)]="contrato2.fecha_Pago">
                    </div>
                </div>
            </div>
<br>
            <div class="form-group row">
                <div class="col">

                </div>
                <div class="col">
                    <button (click)="cancelarVenta()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button type="submit" (click)='updateContrato()' class="btn btn-primary">Actualizar</button>
                </div>
                <div class="col">

                </div>
            </div>
            <br>
        </form>
        <br>
    </div>
</div>