<!-- este es el que muestra el mapa con la disponibilidad solo eso no deja registrar nada-->
<br>
<div class="container">
    <div class="row">
        <div class="col-sm" align="center">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/inicio/mostrarTerrenosLibres/']">Libres</button>
        </div>
        <div class="col-sm">

            <button type="button" class="btn btn-outline-primary" [routerLink]="['/inicio/mostrarTerrenos/']">Ocupados</button>
        </div>
    </div><br>
    <div class="row">
        <div class="col-8">
            <div align="left">
                <div class="container">
                    <img src="../assets/img/mapa3.jpg" alt="" width="90%" height="80%">
                    

                </div>
            </div>
        </div>
        
    </div>
</div><br>
