<div class="container">

    <nav aria-label="breadcrumb">
        <!--MIGAS DE PAN-->
        <ol class="breadcrumb bg-white pl-0">
            <li class="breadcrumb-item"><a [routerLink]="['/administracion-inicio']" href="#">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Ventas</li>
        </ol>
    </nav>
    <!--FIN MIGAS DE PAN-->
    <hr>
    <br>

    <div class="container">
        <div class="row ">
            <!--SECCION PARA FILTRAR-->
            <div class="input-group mb-3 col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchText2"
                    placeholder="Filtrar por nombre del Cliente" aria-describedby="basic-addon1">
            </div>
            <div class="col-2"></div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info"
                    [routerLink]="['/administracion-inicio/formularioVenta']">Formulario de Ingreso</button>
            </div>
        </div>
    </div>
    <br>

    <!-- Seccion Activos/ Inactivos-->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-activo-tab" data-toggle="tab" href="#nav-activo" role="tab"
                aria-controls="nav-activo" aria-selected="true">Contratos Activos</a>
            <a class="nav-item nav-link" id="nav-inactivo-tab" data-toggle="tab" href="#nav-inactivo" role="tab"
                aria-controls="nav-inactivo" aria-selected="false">Contratos Eliminados</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-activo" role="tabpanel" aria-labelledby="nav-activo-tab">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Contratos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--INICIO LISTADO DE TABLA -->
                        <table class="table table-hover" style="text-align: center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Fecha Inscripción</th>
                                    <th scope="col">Dia de Pago</th>
                                    <th scope="col">Número de Contrato</th>
                                    <th scope="col">Perpetuidad Actual</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Tipo de tumba</th>
                                    <th scope="col">Número de Tumba</th>
                                    <th scope="col" colspan="2">Acciones</th>
                                    
                                    <th scope="col">Cuotas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let ven of contratoList2 | filter2: searchText2">
                                    <tr *ngIf="ven.estado_Contrato==true">
                                        <td>{{ven.fecha_Ingreso_Venta}}</td>
                                        <td>{{fechaPago(ven.fecha_Pago)}} de cada mes</td>
                                        <td>{{ven.id_contrato}}</td>
                                        <td>{{ven.perpetuidad}} años</td>
                                        <td>{{ven.cliente.nombres_Cliente}} {{ven.cliente.apellidoP_Cliente}}</td>
                                        <td>{{ven.tipoTumba.nombretipo_tumba}}</td>
                                        <td>{{ven.tumba}}</td>
                                        <td>
                                           
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#datosCliente"
                                                    (click)="cargarContrato(ven.id_contrato)"><i class="fas fa-eye"></i>
                                                </button>
                                                <br><br>
                                                <button type="button" name="editar" [routerLink]="['/administracion-inicio/formularioEditarVenta/',ven.id_contrato]"
                                                    class="btn btn-warning"><i class="fas fa-pencil-alt"></i>
                                                </button>
                                            
                                           
                                        </td>
                                        <td>
                                    
                                            <button type="button" name="eliminar" class="btn btn-danger" (click)="deleteContrato(ven)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <br><br>
                                            <button [routerLink]="[ '/administracion-inicio/exportPDF/',ven.id_contrato ]" type="button" name="pdf"
                                                class="btn btn-info" >
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </td>
                                       
                                        <td style="line-height: 100px;">
                                            <button
                                                [routerLink]="['/administracion-inicio/CuotasContratoComponent/',ven.id_contrato]"
                                                type="button" name="couta" class="btn btn-success">
                                                <i class="fas fa-dollar-sign"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-inactivo" role="tabpanel" aria-labelledby="nav-inactivo-tab">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Listado de Contratos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--INICIO LISTADO DE TABLA -->
                        <table class="table table-hover" style="text-align: center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Fecha Inscripción</th>
                                    <th scope="col">Número de Contrato</th>
                                    <th scope="col">Ultima Perpetuidad</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Tipo de tumba</th>
                                    <th scope="col">Número de Tumba</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let ven of contratoList2 | filter2: searchText2">
                                    <tr *ngIf="ven.estado_Contrato==false">
                                        <td>{{ven.fecha_Ingreso_Venta}}</td>
                                        <td>{{ven.id_contrato}}</td>
                                        <td>{{ven.perpetuidad}} años</td>
                                        <td>{{ven.cliente.nombres_Cliente}} {{ven.cliente.apellidoP_Cliente}}</td>
                                        <td>{{ven.tipoTumba.nombretipo_tumba}}</td>
                                        <td>{{numerosTumba(ven)}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#datosCliente" (click)="cargarContrato(ven.id_contrato)"><i
                                                    class="fas fa-eye"></i>
                                            </button>
                                            &nbsp;
                                            <button
                                                [routerLink]="[ '/administracion-inicio/exportPDF/', ven.id_contrato ]"
                                                type="button" name="pdf" class="btn btn-info">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Fin Seccion Activos/ Inactivos-->



            </div>
        </div>
    </div>
</div>
<div class="modal" id="datosCliente">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h4 style="font-family: 'Times New Roman', Times, serif;" class="modal-title"><b>Ver Venta</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                <legend style="font-family: 'Times New Roman', Times, serif;"><b>Datos del Cliente</b></legend>
                <label>
                    <!--*ngFor="let ven of contratoList3"-->
                    <b> Nombre:</b> {{getNombreCLiente()}}<br>
                    <b>Apellidos:</b> {{getApellidos()}}<br>
                    <b>Teléfono:</b> {{getTelefono()}} <br>
                    <b>Dirección:</b> {{getDireccion()}} <br>
                </label>
                <hr>
                <legend style="font-family: 'Times New Roman', Times, serif;"><b>Datos de a Compra</b></legend>
                <label>
                    <!--*ngFor="let ven of contratoList3"-->
                    <!-- <b>Fecha de Venta:</b> {{ven.derecho.fecha_Inscripcion_Derecho}} <br> -->
                    <b>Cementerio:</b> {{contratoModal.cementerio.nombre_Cementerio}} <br>
                    <b>Nombre del Terreno:</b> {{contratoModal.terreno.nombre_Terreno}} <br>
                    <b>Patio:</b> {{contratoModal.patio.nombre_Patio}} <br>
                    <b>Tipo de Tumba:</b> {{contratoModal.tipoTumba.nombretipo_tumba}} <br>
                    <b>Número de Tumba:</b> {{numero_Tumba}} <br>
                </label>
                <hr>
                <legend style="font-family: 'Times New Roman', Times, serif;"><b>Datos del Pago</b></legend>
                <label>
                    <!--*ngFor="let ven of contratoList3"-->
                    <!--  <b>Medio de Pago:</b> {{ven.derecho.medioPago}} <br>-->
                    <b>Valor total Derecho:</b> {{contratoModal.valor_Terreno}} <br>
                    <b>Pago Inicial:</b> {{contratoModal.pagoInicial}} <br>
                    <b>Número de Cuotas:</b> {{contratoModal.derecho.numero_Cuotas_Derecho}} <br>
                    <b>Valor de Cuotas:</b> {{contratoModal.derecho.valor_Cuota_Derecho}} <br>
                    <b>Dia de Pago:</b> {{fechaPago(contratoModal.derecho.fecha_Pago_Derecho)}} de cada mes <br>
                </label>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>  